<div class="modal-header">
  <h4 class="modal-title" id="modal-title" appLocalization="page.budget.contracts.action.uploadContract"></h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="dismiss()">
    <span aria-hidden="true" class="fa fa-times"></span>
  </button>
</div>
<form novalidate autocomplete="off" enctype="multipart/form-data" #profileImport="ngForm">
  <div class="modal-body" *ngIf="!processing">
    <div class="alert alert-light" appLocalization="page.budget.contracts.upload.explained">
      info text
    </div>

    <app-error-message></app-error-message>

    <app-file-upload
      upload-text="page.budget.contracts.action.uploadContract"
      file-filter="application/pdf"
      (uploadEvent)="handleUploadComplete($event)"
      max-files="1"></app-file-upload>

  </div>
  <div class="modal-body" *ngIf="processing">
    <app-spinner></app-spinner>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary"
            (click)="dismiss()"
            [disabled]="processing"
            appLocalization="common.action.cancel"></button>
  </div>
</form>
