<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-5">
        <h4 class="card-title mb-0" appLocalization="common.account.balance"></h4>
        <div class="small text-muted"><span [appLocalization]="'common.month.' + (dateRange.computeStartMonth() + 1)"></span> {{ dateRange.computeStartYear() }}</div>
      </div>
    </div>
    <div class="mt-3">
      <app-chart
        [options]="balanceGraphOptions"
        [delayed-sets]="balanceGraphData"
        type="line"
        height="50"></app-chart>
    </div>
  </div>
</div>

<div class="row d-none d-md-flex">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <div appLocalization="page.transactions.expense.category" class="text-center pb-1 h5"></div>
        <app-chart
          height="250px"
          type="pie"
          [options]="categoryExpenseGraphOptions"
          [delayed-sets]="categoryExpenseGraphData"></app-chart>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <div appLocalization="page.transactions.expense.budget" class="text-center pb-1 h5"></div>
        <app-chart
          height="250px"
          type="pie"
          [options]="budgetExpenseGraphOptions"
          [delayed-sets]="budgetExpenseGraphData"></app-chart>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <div appLocalization="page.transactions.income.category" class="text-center pb-1 h5"></div>
        <app-chart
          height="250px"
          type="pie"
          [options]="categoryIncomeGraphOptions"
          [delayed-sets]="categoryIncomeGraphData"></app-chart>
      </div>
    </div>
  </div>
</div>

<div class="card print-break-before" id="transaction-list">
  <div class="card-header">
    <span appLocalization="page.title.transactions.overview"></span>
  </div>
  <div class="card-body">
    <a class="btn btn-sm btn-success d-print-none"
       *ngIf="account.isCreditor() || account.isOwn()"
       [routerLink]="account.path + '/transaction/add/debit'"
       role="button">
      <i class="fas fa-level-down-alt"></i>
      <span appLocalization="page.transactions.debit.add" class="d-none d-md-inline"></span>
    </a>
    <a class="btn btn-sm btn-danger d-print-none"
       *ngIf="account.isDebtor() || account.isOwn()"
       [routerLink]="account.path + '/transaction/add/credit'"
       role="button">
      <i class="fas fa-level-up-alt"></i>
      <span appLocalization="page.transactions.credit.add" class="d-none d-md-inline">Add transaction</span>
    </a>
    <a class="btn btn-sm btn-info d-print-none" role="button" *ngIf="account.isOwn()" [routerLink]="account.path + '/transaction/add/transfer'">
      <i class="fas fa-exchange-alt"></i>
      <span appLocalization="page.transactions.transfer.add" class="d-none d-md-inline">Add transaction</span>
    </a>

    <app-transaction-overview
      *ngIf="!loading"
      [displaySource]="account"
      [transactions]="transactionPage.content"
      (viewChanged)="pageChanged()"></app-transaction-overview>
    <app-spinner [show]="loading"></app-spinner>

    <ngb-pagination
      size="sm"
      class="d-flex justify-content-center"
      *ngIf="transactionPage"
      [(page)]="pager.page"
      [pageSize]="transactionPage.info.pageSize"
      [maxSize]="10" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
      [collectionSize]="transactionPage.info.records"
      (pageChange)="pageChanged()"></ngb-pagination>
  </div>
</div>
