.btn {
  margin-right: .5em;
  color: white !important;
}

@media print {
  #transaction-list {
    table {
      margin-top: 0 !important;
    }
  }
}

table {
  thead {
    th {
      &:first-child {
        width: 75px;

        input {
          position: relative;
          margin: 0 7px 0 0;
          vertical-align: middle;
        }
      }

      &:nth-child(2) {
        width: 100px;
      }

      &:nth-last-child(2) {
        width: 75px;
      }
    }
  }
}

.tags {
  & > .badge {
    margin-right: .2ch;
  }
}
