<app-spinner [show]="!overview"></app-spinner>

<div class="card" *ngIf="overview">
  <div class="card-header">
    <span appLocalization="page.budget.contracts.title"></span>
    <a class="btn btn-sm float-end btn-primary d-print-none" routerLink="/contracts/create" role="button">
      <i class="fas fa-plus"></i> <span appLocalization="page.budget.contracts.add" class="d-none d-md-inline"></span>
    </a>
  </div>

  <div class="card-body">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li ngbNavItem="active-contract">
        <a ngbNavLink appLocalization="page.budget.contracts.active"></a>
        <ng-template ngbNavContent>
          <app-contract-list [contracts]="overview.active" (changed)="load()"></app-contract-list>
        </ng-template>
      </li>
      <li ngbNavItem="terminated-contract">
        <a ngbNavLink appLocalization="page.budget.contracts.inactive"></a>
        <ng-template ngbNavContent>
          <app-contract-list [contracts]="overview.terminated"></app-contract-list>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>

  </div>
</div>
