* {
  --tag-bg                  : #1e5896;
  --tag-hover               : #CE0078;
  --tag-text-color          : #FFF;
  --tags-border-color       : silver;
  --tag-text-color--edit    : #111;
  --tag-remove-bg           : var(--tag-hover);
  --tag-pad                 : .6em 1em;
  --tag-inset-shadow-size   : 1.3em;
  --tag-remove-btn-bg--hover: black;
  --tags-hover-border-color: #CCC;
  --tags-focus-border-color: #3595f6;

  display: inline-block;
  min-width: 0;
  border: none;
}

.tag {
  line-height: 1.1;
  display: inline-flex;
  align-items: center;
  position: relative;
  z-index: 1;
  outline: 0;
  cursor: default;
  transition: .13s ease-out;
  margin-right: .25ch;

  &:hover {
    .remove {
      transform: none;
      opacity: 1;
      margin-left: -1.2ch;
    }
  }

  & > div {
    border-radius: 25px;
    vertical-align: top;
    box-sizing: border-box;
    max-width: 100%;
    padding: var(--tag-pad);
    color: var(--tag-text-color);
    line-height: inherit;
    user-select: none;
    transition: .13s ease-out;

    &:before {
      content: '';
      position: absolute;
      border-radius: inherit;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      pointer-events: none;
      transition: 120ms ease;
      animation: tags--bump .3s ease-out 1;
      box-shadow: 0 0 0 var(--tag-inset-shadow-size) var(--tag-bg) inset;
    }

    .text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      vertical-align: top;
      min-width: var(--tag--min-width);
      max-width: var(--tag--max-width);
      transition: .8s ease,.1s color;
    }
  }

  .remove {
    opacity: 0;
    transform: translateX(-6px) scale(.5);
    margin-left: -3ch;
    transition: .12s ease-out;

    order: 5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
    font: 14px Serif;
    background: 0 0;
    background: var(--tag-remove-btn-bg);
    color: var(--tag-text-color);
    width: 14px;
    height: 14px;
    margin-right: 4.66667px;

    &:after {
      content: "\00D7";
    }

    &:hover {
      color: #fff;
      background: var(--tag-remove-btn-bg--hover);
    }
  }

  &.input {
    &.hidden {
      width: 0;
      overflow: hidden;
    }

    & > div {
      color: var(--tag-text-color--edit);

      &:before {
        box-shadow: 0 0 0 2px var(--tag-hover) inset!important;
      }

      .text {
        min-width: 2ch;
        outline: inherit;
        cursor: text;
      }
    }
  }
}

/* Do not show the "remove tag" (x) button when only a single tag remains */
.tagify__tag:only-of-type .tagify__tag__removeBtn{
  display: none;
}

button.add {
  color: var(--tag-bg);
  font: bold 1.4em/1.65 Arial Sans-Serif;
  border: 0;
  background: none;
  box-shadow: 0 0 0 2px inset currentColor;
  border-radius: 50%;
  width: 1.65em;
  height: 1.65em;
  cursor: pointer;
  outline: none;
  transition: .1s ease-out;
  margin: 0 0 0 5px;
  vertical-align: top;

  &:hover {
    box-shadow: 0 0 0 5px inset currentColor;
  }
}
