<h6 appLocalization="page.user.profile.transactions"></h6>
<button class="btn btn-secondary"
        [appDownload]="service.export.bind(service)"
        [fileName]="'Transactions-' + exportDateString() + '.csv'">
  <em class="fas fa-file-csv"></em>
  <span appLocalization="page.user.profile.transactions"></span>
</button>
