.account-image {
  max-width: 25px;
}

table {
  tbody {
    td {
      vertical-align: middle;
    }
  }
}

#expense {
  tr:last-child {
    td:first-child {
      text-align: right;
      font-style: italic;

      &:after {
        content: ": "
      }
    }
    td:last-child {
      border-top: 1px solid gray;
    }
  }

  td {
    &:last-child {
      text-align: right;
      width: 120px;
    }
  }
}
