<div class="card">
  <div class="card-header">
    <span appLocalization="page.settings.currencies.add"></span>
  </div>
  <div class="card-body">
    <app-error-message></app-error-message>
    <app-spinner *ngIf="!model"></app-spinner>

    <form #form="ngForm" name="currency">
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label" appLocalization="Currency.name"></label>
        <div class="col-sm-8">
          <app-input-field control="Currency">
            <input type="text" class="form-control" name="name" id="name" required
                   appLocalization="Currency.name"
                   location="placeholder"
                   auto-focus
                   [(ngModel)]="model.name" />
          </app-input-field>
        </div>
      </div>
      <div class="form-group row">
        <label for="code" class="col-sm-2 col-form-label" appLocalization="Currency.code"></label>
        <div class="col-sm-8">
          <app-input-field control="Currency">
            <input type="text" class="form-control" name="code" id="code" required
                   appLocalization="Currency.code"
                   location="placeholder"
                   [(ngModel)]="model.code" />
          </app-input-field>
        </div>
      </div>

      <div class="form-group row">
        <label for="symbol" class="col-sm-2 col-form-label" appLocalization="Currency.symbol"></label>
        <div class="col-sm-8">
          <app-input-field control="Currency">
            <input type="text" class="form-control w-25" name="symbol" id="symbol" required
                   appLocalization="Currency.symbol"
                   location="placeholder"
                   maxlength="1"
                   minlength="1"
                   [(ngModel)]="model.symbol" />
          </app-input-field>
        </div>
      </div>
    </form>
  </div>

  <div class="card-footer">
    <button (click)="persist()" class="btn btn-sm btn-primary" [disabled]="form.invalid">
      <i class="far fa-dot-circle"></i>
      <span appLocalization="common.action.save"></span>
    </button>
    <app-back-button></app-back-button>
  </div>
</div>
