<div class="card">
  <div class="card-header">
    <span appLocalization="page.nav.settings.categories">Categories</span>
    <a class="btn btn-sm btn-primary float-end d-print-none" routerLink="/categories/add/"
       role="button"><i class="fas fa-plus"></i> <span appLocalization="page.settings.categories.add" class="d-none d-md-inline"></span></a>
  </div>
  <div class="card-body">
    <table class="table table-hover table-responsive-sm table-sm mt-4">
      <thead>
      <tr>
        <th width="50"></th>
        <th appLocalization="Category.label">Name</th>
        <th appLocalization="Category.description" class="d-none d-md-table-cell">Name</th>
        <th appLocalization="Category.lastActivity">Name</th>
      </tr>
      </thead>
      <tbody *ngIf="!empty && !loading">
      <tr *ngFor="let category of currentPage.content">
        <td class="text-center">
          <a [routerLink]="'/categories/' + category.id + '/edit/'"
             class="text-primary"
             appLocalization="common.action.edit"
             location="title"><i class="fas fa-edit"></i></a>
          <a href="javascript: void 0"
             (click)="confirmDelete(category)"
             appLocalization="common.action.delete"
             location="title"
             class="text-danger"><i class="fas fa-trash-alt"></i></a>
        </td>
        <td>{{ category.label }}</td>
        <td class="d-none d-md-table-cell">{{ category.description }}</td>
        <td>{{ category.lastUsed | customDate }}</td>
      </tr>
      </tbody>
      <tbody *ngIf="empty && !loading">
      <tr>
        <td colspan="4" appLocalization="common.overview.noresults"></td>
      </tr>
      </tbody>
      <tbody *ngIf="loading">
      <tr>
        <td colspan="4"><app-spinner></app-spinner></td>
      </tr>
      </tbody>
    </table>

    <ngb-pagination
      size="sm"
      class="d-flex justify-content-center"
      *ngIf="currentPage"
      [(page)]="pager.page"
      [pageSize]="currentPage.info.pageSize"
      [collectionSize]="currentPage.info.records"
      (pageChange)="pageChanged()"></ngb-pagination>
  </div>
</div>
