<div class="row">
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-0">{{ account.name }}</h4>

        <div class="text-muted mb-2">{{ account.description }}</div>

        <div class="label-set">
          <label>
            <span appLocalization="Account.interest"></span>:
          </label>
          {{ account.interest.interest | percent:'1.2' }}
        </div>
        <div class="label-set">
          <label>
            <span appLocalization="Account.interestPeriodicity"></span>:
          </label>
          <span [appLocalization]="'Periodicity.' + account.interest.periodicity"></span>
        </div>
        <div class="label-set" *ngIf="openingTransaction">
          <label>
            <span appLocalization="page.accounts.liability.startBalance"></span>:
          </label>
          <span [appBalance]="openingTransaction.amountFor(account)"></span>
        </div>
        <div class="label-set">
            <label>
              <span appLocalization="page.accounts.liability.paid"></span>:
            </label>
            <app-statistical-balance [account]="[account]"
                                     [range]="dateRange"
                                     onlyIncome="true"></app-statistical-balance>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-5">
            <h4 class="card-title mb-0" appLocalization="common.account.balance"></h4>
            <div class="small text-muted">
              <span [appLocalization]="'common.month.' + (dateRange.computeStartMonth() + 1)"></span> {{ dateRange.computeStartYear() }}
              -
              <span [appLocalization]="'common.month.' + (dateRange.computeEndMonth() + 1)"></span> {{ dateRange.computeEndYear() }}
            </div>
          </div>
        </div>
        <div class="mt-3">
          <app-chart
            [options]="balanceGraphOptions"
            [delayed-sets]="balanceGraphData"
            type="line"
            height="50"></app-chart>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card print-break-before" id="transaction-list">
  <div class="card-header">
    <span appLocalization="page.title.transactions.overview"></span>
  </div>
  <div class="card-body">
    <a class="btn btn-sm btn-success d-print-none" [routerLink]="account.path + '/transaction/add/debit'" role="button">
      <i class="fas fa-level-down-alt"></i>
      <span appLocalization="page.account.liability.payment.add" class="d-none d-md-inline"></span>
    </a>

    <app-transaction-overview
      [displaySource]="account"
      *ngIf="!loading"
      [transactions]="transactions.content"
      (viewChanged)="pageChanged()"></app-transaction-overview>
    <app-spinner [show]="loading"></app-spinner>

    <ngb-pagination
      size="sm"
      class="d-flex justify-content-center"
      *ngIf="transactions"
      [(page)]="pageable.page"
      [pageSize]="transactions.info.pageSize"
      [maxSize]="10" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
      [collectionSize]="transactions.info.records"
      (pageChange)="pageChanged()"></ngb-pagination>
  </div>
</div>
