
<div class="card">
  <div class="card-header">
    <span appLocalization="page.account.savings.goals"></span>
  </div>
  <div class="card-body">
    <div class="w-50">
      <h4 class="card-title mb-0">{{ savingsAccount.name }}</h4>
      <div class="text-muted mb-2">{{ savingsAccount.description }}</div>

      <table class="summary">
        <tr>
          <td class="fw-bold">
            <span appLocalization="page.accounts.saving.amount.current"></span>
            <app-information text-key="page.accounts.saving.amount.current.help" class="float-end"></app-information>
          </td>
          <td>
            <app-statistical-balance [account]="[savingsAccount]" [currency]="savingsAccount.account.currency"></app-statistical-balance>
          </td>
        </tr>
        <tr>
          <td class="fw-bold">
            <span appLocalization="page.accounts.saving.amount.required"></span>
            <app-information text-key="page.accounts.saving.amount.required.help" class="float-end"></app-information>
          </td>
          <td>
            <span [appBalance]="requiredSavings"></span>
          </td>
        </tr>
        <tr>
          <td class="fw-bold">
            <span appLocalization="page.account.saving.suggestedSaving"></span>
            <app-information text-key="page.account.saving.suggestedSaving.help" class="float-end"></app-information>
          </td>
          <td>
            <span [appBalance]="adviceMonthlySaving"></span>
          </td>
        </tr>
      </table>
    </div>

    <hr>

    <div class="table-responsive-sm">
      <table class="table">
        <thead>
        <tr>
          <th appLocalization="SavingGoal.goal"></th>
          <th appLocalization="page.account.saving.soFar"></th>
          <th appLocalization="SavingGoal.goal"></th>
          <th appLocalization="page.account.saving.remaining"></th>
          <th appLocalization="page.account.saving.suggestedSaving" class="left"></th>
          <th class="actions"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="!savingsAccount.savingGoals">
          <td colspan="5" appLocalization="common.overview.noresults"></td>
        </tr>
        <tr
          (mouseleave)="dropdown.close()"
          *ngFor="let savingGoal of savingsAccount.savingGoals">
          <td>{{ savingGoal.name }}</td>
          <td class="saved">
            <div>
              <span [appBalance]="savingGoal.reserved" [currency]="savingsAccount.account.currency"></span>
              <ngb-progressbar
                class="d-none d-sm-flex"
                animated="true"
                [type]="determineClassification(savingGoal)"
                [striped]="savingGoal.goal !== savingGoal.reserved"
                [max]="savingGoal.goal"
                [value]="savingGoal.reserved"></ngb-progressbar>
              <div ngbDropdown class="add-btn" #dropDownMenu="ngbDropdown">
                <button class="btn btn-link"
                        appLocalization="page.account.savings.reserve"
                        location="title"
                        ngbDropdownToggle>
                  <em class="fas fa-plus-square"></em>
                </button>
                <div ngbDropdownMenu>
                  <form class="container">
                    <div class="input-group">
                      <input type="number" class="form-control"
                             #reserveAmount="ngModel"
                             ngModel=""
                             name="amount"
                             min="0"
                             required>
                      <button class="btn btn-outline-success btn-sm" type="button"
                              [disabled]="reserveAmount.invalid"
                              (click)="reserveForGoal(savingGoal, reserveAmount.value); dropDownMenu.close()">Add</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </td>
          <td>
            <span [appBalance]="savingGoal.goal" [currency]="savingsAccount.account.currency"></span>
          </td>
          <td>
            <span [appBalance]="savingGoal.goal - savingGoal.reserved" [currency]="savingsAccount.account.currency"></span>
          </td>
          <td class="left">
            <span [appBalance]="(savingGoal.goal - savingGoal.reserved) / savingGoal.monthsLeft"></span>
          </td>
          <td class="actions" ngbDropdown #dropdown="ngbDropdown">
            <em class="fas fa-ellipsis-v" ngbDropdownToggle></em>
            <div ngbDropdownMenu class="dropdown-menu-left">
              <a href="javascript:void 0"
                 ngbDropdownItem
                 (click)="changeSavingGoal(savingGoal)"
                 class="text-primary"><em class="fas fa-edit"></em> <span appLocalization="page.account.saving.update"></span></a>
              <a href="javascript:void 0"
                 ngbDropdownItem
                 (click)="confirmClosingGoal(savingGoal)"
                 class="text-danger"><em class="fas fa-trash-alt"></em> <span appLocalization="page.account.saving.stop"></span></a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <a class="btn btn-sm btn-success d-print-none m-1 float-end" href="javascript: void(0)" role="button" (click)="onNewSavingGoal()">
      <i class="fas fa-level-down-alt"></i>
      <span appLocalization="page.account.savings.new" class="d-none d-md-inline">Add saving goal</span>
    </a>
  </div>
</div>

<div class="card print-break-before" id="transaction-list">
  <div class="card-header">
    <span appLocalization="page.account.savings.transactions"></span>
  </div>
  <div class="card-body">
    <a class="btn btn-sm btn-success d-print-none m-1" [routerLink]="savingsAccount.path + '/transaction/add/transfer'" role="button">
      <i class="fas fa-level-down-alt"></i>
      <span appLocalization="page.account.savings.deposit" class="d-none d-md-inline"></span>
    </a>
    <a class="btn btn-sm btn-danger d-print-none" [routerLink]="savingsAccount.path + '/transaction/add/transfer'" role="button">
      <i class="fas fa-level-up-alt"></i>
      <span appLocalization="page.account.savings.withdraw" class="d-none d-md-inline"></span>
    </a>

    <app-transaction-overview
      [displaySource]="savingsAccount"
      *ngIf="!loading"
      [transactions]="transactions.content"
      (viewChanged)="pagingChanged()"></app-transaction-overview>
    <app-spinner [show]="loading"></app-spinner>

    <ngb-pagination
      size="sm"
      class="d-flex justify-content-center"
      *ngIf="transactions"
      [(page)]="pageable.page"
      [pageSize]="transactions.info.pageSize"
      [maxSize]="10" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
      [collectionSize]="transactions.info.records"
      (pageChange)="pagingChanged()"></ngb-pagination>
  </div>
</div>
