@import "../../shared/constants";

table.summary {
  td:first-child {
    padding-right: 15px;
    width: fit-content;
  }

  app-information {
    margin-left: 5px;
  }
}

table.table {
  tr:hover {
    td.actions {
      & > .fas {
        display: inherit;
      }
    }
  }

  .saved {
    & > div {
      display: flex;
      align-items: center;

      span {
        width: 5rem;
      }

      & > ngb-progressbar {
        flex: 1
      }

      & > .add-btn {
        margin-left: 10px;

        & > .btn {
          padding: 0;
        }
      }
    }

  }

  .left {
    width: 170px;
  }

  .actions {
    width: 25px;
    vertical-align: middle;
    color: #6c757d;

    & > .fas {
      cursor: pointer;
      display: none;

      &:after {
        display: none;
      }
    }

    @include dropdown-action-menu();
  }

}
