<div class="btn-group" role="group" aria-label="Button group" *ngIf="selectedYear && firstYear">
  <div ngbDropdown *ngIf="selectedCurrency">
    <a href="javascript:void 0" class="btn" ngbDropdownToggle id="currency-selector" role="button">{{ selectedCurrency.code }} ({{ selectedCurrency.symbol }})</a>
    <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="currency-selector">
      <a *ngFor="let currency of currencies"
         [routerLink]="buildYearLink(selectedYear)" [queryParams]="{'currency': currency.code}"
         class="dropdown-item text-center">
        {{ currency.code }} ({{ currency.symbol }})
      </a>
    </div>
  </div>

  <div ngbDropdown>
    <a href="javascript:void 0" class="btn" ngbDropdownToggle id="year-selector" role="button">{{ selectedYear }}</a>
    <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="year-selector">
      <a *ngFor="let year of yearRange"
         [routerLink]="buildYearLink(year)"
         class="dropdown-item text-center">
        {{ year }}
      </a>
    </div>
  </div>
</div>
