<div class="modal-header">
  <h4 class="modal-title" id="modal-title" appLocalization="page.title.schedule.transaction.add"></h4>
  <button type="button" class="btn-close" aria-describedby="modal-title" (click)="dismiss()"></button>
</div>

<div class="modal-body">
  <form #form="ngForm" ngForm autocomplete="off">
    <div class="alert alert-light" appLocalization="page.budget.schedule.explained">
      info text
    </div>

    <div class="form-group row">
      <label for="from" class="col-sm-3 col-form-label" appLocalization="page.contract.schedule.source"></label>
      <div class="col-sm-9">
        <select class="form-control form-select" id="from" name="from" required
                auto-focus
                [compareWith]="compareAccount"
                [(ngModel)]="model.source">
          <option *ngFor="let a of ownAccounts"
                  [ngValue]="a"
                  [label]="a.name"></option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="amount" class="col-sm-3 col-form-label" appLocalization="ScheduledTransaction.amount">Name</label>
      <div class="col-sm-9">
        <app-input-field control="ScheduledTransaction">
          <input type="number" class="form-control w-25" id="amount" name="amount" required
                 appLocalization="ScheduledTransaction.amount" location="placeholder"
                 [(ngModel)]="model.amount">
        </app-input-field>
      </div>
    </div>

    <div class="form-group row">
      <label for="amount" class="col-sm-3 col-form-label" appLocalization="ScheduledTransaction.schedule">Name</label>
      <div class="col-sm-9">
        <input type="number" class="form-control w-25 d-inline-block" [(ngModel)]="model.schedule.interval" name="interval" id="interval"/>
        <select class="form-control w-25 d-inline-block" [(ngModel)]="model.schedule.periodicity" name="periodicity" id="periodicity">
          <option ngValue="WEEKS" appLocalization="Periodicity.WEEKS">Weeks</option>
          <option ngValue="MONTHS" appLocalization="Periodicity.MONTHS">Months</option>
          <option ngValue="YEARS" appLocalization="Periodicity.YEARS">Years</option>
        </select>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary"
          (click)="dismiss()"
          [disabled]="processing"
          appLocalization="common.action.cancel"></button>
  <button type="button" class="btn btn-success"
          [disabled]="form.invalid || processing"
          (click)="create()"
          appLocalization="common.action.save"></button>
</div>
