<h6 appLocalization="page.user.profile.export"></h6>
<button class="btn btn-secondary"
        [appDownload]="service.download.bind(service)"
        fileName="profile.json">
  <em class="fas fa-download"></em>
  <span appLocalization="page.user.profile.export"></span>
</button>
