<div class="modal-header">
  <h4 class="modal-title" id="modal-title" appLocalization="page.accounts.select"></h4>
  <button type="button" class="btn-close" aria-describedby="modal-title" (click)="dismiss()"></button>
</div>
<div class="modal-body">
  <form ngForm #selectForm="ngForm">
    <div class="form-group row">
      <label for="account" class="col-sm-3 col-form-label" appLocalization="page.accounts.reconcile.account"></label>
      <div class="col-sm-9">
        <select class="form-control form-select" id="account" name="account" required
                auto-focus
                [compareWith]="compareAccount"
                [(ngModel)]="account">
          <option *ngFor="let a of accounts"
                  [ngValue]="a"
                  [label]="a.name"></option>
        </select>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary"
          (click)="dismiss()"
          appLocalization="common.action.cancel"></button>
  <button type="button" class="btn btn-success"
          (click)="process()"
          [disabled]="selectForm.invalid"
          appLocalization="common.action.next"></button>
</div>
