<div class="modal-header">
  <h4 class="modal-title" id="modal-title" [appLocalization]="titleTextKey"></h4>
  <button type="button" class="btn-close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body" [appLocalization]="descriptionKey"></div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')" appLocalization="common.action.cancel"></button>
  <button #okButton type="button" class="btn btn-danger" (click)="modal.close('Ok click')" appLocalization="common.action.confirm"></button>
</div>
