<div class="modal-header">
  <h4 class="modal-title" id="modal-title" appLocalization="page.accounts.reconcile.create"></h4>
  <button type="button" class="btn-close" aria-describedby="modal-title" (click)="dismiss()"></button>
</div>
<div class="modal-body">
  <form ngForm #reconcileForm="ngForm">
    <div class="form-group row">
      <label for="account" class="col-sm-3 col-form-label" appLocalization="page.accounts.reconcile.account"></label>
      <div class="col-sm-9">
        <select class="form-control form-select" id="account" name="account"
                [compareWith]="compareAccount"
                [(ngModel)]="model.account">
          <option *ngFor="let a of accounts"
                  [ngValue]="a"
                  [label]="a.name"></option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="year" class="col-sm-3" appLocalization="common.year"></label>
      <div class="col-sm-9">
        <app-input-field control="AccountReconcile">
          <input type="number" name="year" id="year"
                 class="form-control w-25"
                 auto-focus
                 required
                 [(ngModel)]="model.year">
        </app-input-field>
      </div>
    </div>

    <div class="form-group row">
      <label for="openBalance" class="col-sm-3" appLocalization="page.accounts.reconcile.openBalance"></label>
      <div class="col-sm-9">
        <app-input-field control="AccountReconcile">
          <input type="number" name="openBalance" id="openBalance"
                 class="form-control w-25" required
                 [(ngModel)]="model.openBalance">
        </app-input-field>
      </div>
    </div>

    <div class="form-group row">
      <label for="closeBalance" class="col-sm-3" appLocalization="page.accounts.reconcile.endBalance"></label>
      <div class="col-sm-9">
        <app-input-field control="AccountReconcile">
          <input type="number" name="closeBalance" id="closeBalance"
                 class="form-control w-25" required
                 [(ngModel)]="model.closeBalance">
        </app-input-field>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary"
          (click)="dismiss()"
          [disabled]="processing"
          appLocalization="common.action.cancel"></button>
  <button type="button" class="btn btn-success"
          (click)="process()"
          [disabled]="processing || reconcileForm.invalid"
          appLocalization="common.action.save"></button>
</div>
