<div class="container" *ngIf="loading">
  <div class="row">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

    <p class="spinner-message" *ngIf="messageKey" [appLocalization]="messageKey"></p>
  </div>
</div>
