$media-max-width: 991.98px;

$tabled-portrait-max-width: 1024px;

$phone-landscape-max-width: 768px;
$phone-portrait-max-width: 420px;

$sidebar-offset: 218px;
$sidebar-min-offset: 50px;
$top-bar-height: 55px;

$transition-time: .5s;

@mixin month-year-pickers {
  .month-picker {
    width: 350px;
    padding: 10px;

    .row {
      margin-right: 0;
      margin-left: 0;
    }

    .col-sm-4 {
      padding-left: 2px;
      padding-right: 2px;

      &:hover {
        background: var(--app-border-color);
        opacity: .7;
      }
      a {
        text-decoration: none;
      }
    }
  }
}

@mixin dropdown-action-menu {
  $border-radius: .75rem;

  .dropdown-menu {
    border-radius: $border-radius;
    padding: 0 !important;

    .dropdown-item {
      &:first-child {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }
      &:last-child {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }

    .fas {
      margin-right: 5px;
      margin-left: -10px;
      display: inline-block;
    }
  }
}
