$themes: (
        'dark': (
                'app-body-background': #e4e5e6,
                'app-background': #fff,
                'app-border-color': #c8ced3,
                'app-text-muted-color': #73818f,
                'app-header-background': #fff,
                'sidebar-color': #fff,
                'sidebar-background': #2f353a,
                'sidebar-sub-background': #3a4046,
                'card-header-background': #f0f3f5,
                'card-header-color': #000,
                'wizard-step-color': #6c757d,
                'link-color': #007bff
        ),
        'navy': (
                'app-body-background': #c7e0f9,
                'app-background': #fff,
                'app-border-color': #192d3e,
                'app-text-muted-color': #73818f,
                'app-header-background': #002C51,
                'sidebar-color': #fff,
                'sidebar-background': #002C51,
                'sidebar-sub-background': #002C51,
                'card-header-background': #3f8cbf,
                'card-header-color': #fff,
                'wizard-step-color': #6c757d,
                'link-color': #007bff
        )
) !default;

$app-body-background: null;
$app-background: null;
$app-border-color: null;
$app-text-muted-color: null;
$app-header-background: null;
$sidebar-color: null;
$sidebar-background: null;
$sidebar-sub-background: null;
$card-header-background: null;
$card-header-color: null;
$wizard-step-color: null;
$link-color: null;

@mixin themify($themes: $themes) {
  @each $theme, $colors in $themes {
    .#{$theme} & {
      $app-body-background: map-get($colors, 'app-body-background') !global;
      $app-background: map-get($colors, 'app-background') !global;
      $app-border-color: map-get($colors, 'app-border-color') !global;
      $app-text-muted-color: map-get($colors, 'app-text-muted-color') !global;
      $app-header-background: map-get($colors, 'app-header-background') !global;
      $sidebar-color: map-get($colors, 'sidebar-color') !global;
      $sidebar-background: map-get($colors, 'sidebar-background') !global;
      $sidebar-sub-background: map-get($colors, 'sidebar-sub-background') !global;
      $card-header-background: map-get($colors, 'card-header-background') !global;
      $card-header-color: map-get($colors, 'card-header-color') !global;
      $wizard-step-color: map-get($colors, 'wizard-step-color') !global;
      $link-color: map-get($colors, 'link-color') !global;

      // Output user content
      @content;

      $app-body-background: null !global;
      $app-background: null !global;
      $app-border-color: null !global;
      $app-text-muted-color: null !global;
      $app-header-background: null !global;
      $sidebar-color: null !global;
      $sidebar-background: null !global;
      $sidebar-sub-background: null !global;
      $card-header-background: null !global;
      $card-header-color: null !global;
      $wizard-step-color: null !global;
      $link-color: null !global;
    }
  }
}


body {

  main {

    .wizard {
      .wizard-steps {
        @include themify {
          color: $wizard-step-color !important;
        }

        & > span {
          &.active {
            @include themify {
              color: $link-color;
              border-bottom-color: $link-color !important;
            }
          }
        }
      }
    }
  }
}
