<div class="modal-header">
  <h4 class="modal-title" id="modal-title" appLocalization="page.title.budget.group.budget.transactions"></h4>
  <button type="button" class="btn-close" aria-describedby="modal-title" (click)="dismiss()"></button>
</div>

<div class="modal-body">
  <div class="alert alert-light" appLocalization="page.budget.group.transactions.explained"></div>

  <table class="table table-sm table-responsive-sm table-hover mb-2 mt-2">
    <thead>
    <tr>
      <th width="50"></th>
      <th appLocalization="Transaction.date"></th>
      <th appLocalization="Transaction.to"></th>
      <th appLocalization="Transaction.amount"></th>
    </tr>
    </thead>
    <tbody *ngIf="empty || loading">
    <tr *ngIf="!loading">
      <td colspan="4" appLocalization="common.overview.noresults" class="text-center"></td>
    </tr>
    <tr *ngIf="loading">
      <td colspan="4"><app-spinner></app-spinner></td>
    </tr>
    </tbody>
    <tbody *ngIf="!empty && !loading">
    <tr *ngFor="let transaction of transactions.content">
      <td></td>
      <td>{{ transaction.dates.transaction | customDate }}</td>
      <td>
        <span *ngIf="transaction.source.isOwn()">{{ transaction.destination.name }}</span>
        <span *ngIf="transaction.destination.isOwn()">{{ transaction.source.name }}</span>
      </td>
      <td>
        <span *ngIf="transaction.source.isOwn()" [appBalance]="-transaction.amount"></span>
        <span *ngIf="transaction.destination.isOwn()" [appBalance]="transaction.amount"></span>
      </td>
    </tr>
    </tbody>
  </table>

  <ngb-pagination
    size="sm"
    class="d-flex justify-content-center"
    *ngIf="transactions"
    [(page)]="page"
    [pageSize]="20"
    [collectionSize]="transactions.info.records"
    (pageChange)="pageChanged()"></ngb-pagination>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" data-dismiss="modal"
          auto-focus
          (click)="dismiss()"
          appLocalization="common.action.close"></button>
</div>
