<div class="login-div">
  <div class="card my-auto">
    <div class="card-header">
      <span appLocalization="page.login.title">Add account</span>
      <div class="float-end" ngbDropdown>
        <a href="javascript:void 0" ngbDropdownToggle class="text-dark text-decoration-none" id="language-selector" data-toggle="dropdown" role="button">
          <span appFlag noText="true"></span>
        </a>
        <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="language-selector">
          <a href="javascript:void 0" appLanguageSelect="nl" ngbDropdownItem><span class="flag-icon flag-icon-nl"></span> <span appLocalization="common.language.nl">Nederlands</span></a>
          <a href="javascript:void 0" appLanguageSelect="en" ngbDropdownItem><span class="flag-icon flag-icon-en"></span> <span appLocalization="common.language.en">English</span></a>
          <a href="javascript:void 0" appLanguageSelect="de" ngbDropdownItem><span class="flag-icon flag-icon-de"></span> <span appLocalization="common.language.de">Deutsch</span></a>
        </div>
      </div>
    </div>
    <form (submit)="login()" autocomplete="off" #form="ngForm">
      <div class="card-body" style="min-width: 410px;">
        <div *ngIf="validationFailure">
          <div class="alert alert-danger" appLocalization="page.login.invalid">
            Invalid username or password.
          </div>
        </div>
        <div class="form-group row">
          <label for="username" class="col-sm-4 col-form-label" appLocalization="UserAccount.username"></label>
          <div class="col-sm-8">
            <app-input-field control="UserAccount">
              <input type="text" id="username" name="username" auto-focus class="form-control" [(ngModel)]="credentials.username" required/>
            </app-input-field>
          </div>
        </div>
        <div class="form-group row">
          <label for="username" class="col-sm-4 col-form-label" appLocalization="UserAccount.password"></label>
          <div class="col-sm-8">
            <app-input-field control="UserAccount">
              <input type="password" id="password" name="password" class="form-control" [(ngModel)]="credentials.password" required/>
            </app-input-field>
          </div>
        </div>

        <div *ngIf="allowRegister()" class="action">
          <a routerLink="/register" queryParamsHandling="preserve"  class="btn btn-sm btn-link">
            <em class="fa fa-user-plus"></em><span appLocalization="page.login.register"></span>
          </a>
        </div>
      </div>
      <div class="card-footer text-right">
        <button class="btn btn-sm btn-primary"
                [disabled]="form.invalid"
                type="submit"><i class="fas fa-sign-in-alt"></i> <span appLocalization="page.login.login"></span></button>
      </div>
    </form>
  </div>
</div>
