.login-div {
  position: absolute;
  left: 50%;
  top: calc(50% - 205px);

  > div {
    left: -50%;
  }
}

form .action {
  text-align: right;
}

.dropdown-menu-right .flag-icon {
  margin-left: -10px;
  margin-right: 10px;
}

.btn .fas {
  margin-right: 5px;
}
