.register-div {
  position: absolute;
  left: 50%;
  top: calc(50% - 205px);

  > div {
    left: -50%;
  }
}

.password-hints {
  color: var(--app-text-muted-color);

  .fa {
    margin-right: 5px;
  }
}

.action {
  margin-left: -15px;
  margin-bottom: -15px;
}

.btn .fas {
  margin-right: 5px;
}
