<div class="verify-div">
  <div class="card my-auto">
    <div class="card-header">
      <span appLocalization="page.login.verify.title"></span>
    </div>
    <form autocomplete="off">
      <div class="card-body" style="min-width: 410px;">
        <div class="alert alert-light" appLocalization="page.login.verify.explain">
          info text
        </div>

        <app-error-message></app-error-message>

        <div class="form-group row mt-2">
          <label for="code" class="col-sm-4 col-form-label" appLocalization="UserAccount.twofactor.secret">Name</label>
          <div class="col-sm-8">
            <app-input-field control="Account">
              <input type="text" id="code" name="code" [(ngModel)]="userToken"
                     pattern="^[0-9]{6}$"
                     auto-focus class="form-control" />
            </app-input-field>
          </div>
        </div>
      </div>
      <div class="card-footer text-right">
        <button class="btn btn-sm btn-primary" type="button" (click)="verify()">
          <em class="fa fa-sign-in-alt"></em> <span appLocalization="page.login.verify.action"></span>
        </button>
      </div>
    </form>
  </div>
</div>
