.verify-div {
  position: absolute;
  left: 50%;
  top: calc(50% - 205px);

  > div {
    left: -50%;
  }
}

.alert {
  max-width: 30em;
}

.dropdown-menu-right .flag-icon {
  margin-left: -10px;
  margin-right: 10px;
}
