<div class="row">
  <div class="col-sm-4">
    <div class="card" id="contract-details">
      <div class="card-body">
        <div class="form-group">
          <label appLocalization="Contract.name"></label>
          <span>{{ contract.name }}</span>
        </div>
        <div class="form-group">
          <label appLocalization="Contract.company"></label>
          <span>
            {{ contract.company.name }}
          </span>
        </div>
        <div class="form-group">
          <label appLocalization="Contract.start"></label>
          <span>
            {{ contract.start }}
          </span>
        </div>
        <div class="form-group">
          <label appLocalization="Contract.end"></label>
          <span>
            {{ contract.end }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="card" *ngIf="contract.description">
      <div class="card-body">
        <h5 appLocalization="Contract.description"></h5>
        {{ contract.description }}
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header" appLocalization="page.title.budget.contracts.transactions"></div>
  <div class="card-body">
    <app-transaction-overview
      *ngIf="transactions"
      [transactions]="transactions.content"
      [displaySource]="contract.company"
      (viewChanged)="pageChanged()"></app-transaction-overview>
    <app-spinner [show]="!transactions"></app-spinner>

    <ngb-pagination
      size="sm"
      class="d-flex justify-content-center"
      *ngIf="transactions"
      [(page)]="currentPage"
      [pageSize]="20"
      [collectionSize]="transactions.info.records"
      (pageChange)="pageChanged()"></ngb-pagination>
  </div>
</div>
