<h6 appLocalization="page.user.profile.theme"></h6>
<span class="text-muted" appLocalization="page.user.profile.theme.explain"></span>

<div class="form-check">
  <input type="radio" class="form-check-input"
         name="themeSelector"
         value="dark"
         id="theme-dark"
         (click)="patchProfile('theme', 'dark')"
         [checked]="profile.theme == 'dark'">
  <label for="theme-dark" class="form-check-label">Dark</label>
</div>
<div class="form-check">
  <input type="radio" class="form-check-input"
         name="themeSelector"
         value="navy"
         id="theme-navy"
         (click)="patchProfile('theme', 'navy')"
         [checked]="profile.theme == 'navy'">
  <label for="theme-navy" class="form-check-label">Navy</label>
</div>
