<div class="card">
  <div class="card-header">
    <span appLocalization="page.budget.schedules.title"></span>
    <a class="btn btn-sm float-end btn-primary" role="button"
       href="javascript: void(0)"
       (click)="openCreateModal()">
      <i class="fas fa-plus"></i> <span appLocalization="page.budget.schedules.add" class="d-none d-md-inline"></span>
    </a>
  </div>

  <div class="card-body">
    <app-spinner [show]="!schedules"></app-spinner>

    <table class="table table-responsive-sm" *ngIf="schedules">
      <thead>
      <tr>
        <th></th>
        <th appLocalization="ScheduledTransaction.name"></th>
        <th appLocalization="page.budget.schedule.daterange"></th>
        <th appLocalization="ScheduledTransaction.source"></th>
        <th appLocalization="ScheduledTransaction.destination"></th>
        <th appLocalization="ScheduledTransaction.amount"></th>
      </tr>
      </thead>
      <tbody *ngIf="schedules.length">
      <tr *ngFor="let schedule of schedules">
        <td>
          <a [routerLink]="schedule.id + '/edit/'"
             class="text-primary"
             appLocalization="common.action.edit" location="title"><i class="fas fa-edit"></i></a>
          <a href="javascript:void 0"
             appLocalization="common.action.delete"
             location="title"
             (click)="confirmDelete(schedule)"
             class="text-danger"><i class="fas fa-trash-alt"></i></a>
        </td>
        <td>
          {{ schedule.name }}
          <div *ngIf="schedule.description" class="text-muted small">{{ schedule.description }}</div>
        </td>
        <td>
          {{ schedule.range.start | customDate }} - {{ schedule.range.end | customDate }}
        </td>
        <td>
          <a [routerLink]="'/accounts/' + schedule.source.type + '/' + schedule.source.id + '/transactions'">{{ schedule.source.name }}</a>
        </td>
        <td>
          <a [routerLink]="'/accounts/' + schedule.destination.type + '/' + schedule.destination.id + '/transactions'">{{ schedule.destination.name }}</a>
        </td>
        <td [appBalance]="schedule.amount"></td>
      </tr>
      </tbody>
      <tbody *ngIf="!schedules.length">
      <tr>
        <td colspan="6" appLocalization="common.overview.noresults"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
