<h6 class="modal-title" id="modal-title" appLocalization="page.title.user.profile.import"></h6>
<form novalidate autocomplete="off" enctype="multipart/form-data" #profileImport="ngForm">
  <div class="modal-body" *ngIf="!isProcessing">
    <div class="alert alert-light" appLocalization="page.user.profile.import.explain">
      info text
    </div>

    <app-file-upload
      upload-text="page.title.user.profile.import"
      (uploadEvent)="startImport($event)"
      file-filter="application/json"></app-file-upload>
  </div>
  <div class="modal-body" *ngIf="isProcessing">
    <app-spinner></app-spinner>
  </div>
</form>
