<div class="card">
  <div class="card-header">
    <span appLocalization="page.nav.settings.import"></span>
    <a class="btn btn-sm btn-primary float-end" routerLink="/import/start" role="button">
      <em class="fas fa-upload"></em>
      <span appLocalization="page.settings.import.new" class="d-none d-md-inline"></span>
    </a>
  </div>
  <div class="card-body">
    <table class="table table-hover mt-4">
      <thead>
      <tr>
        <th appLocalization="BatchImport.slug" colspan="2"></th>
        <th appLocalization="BatchImport.created"></th>
        <th appLocalization="BatchImport.config" class="d-none d-md-table-cell"></th>
        <th appLocalization="BatchImport.finished" class="text-center"></th>
      </tr>
      </thead>
      <tbody *ngIf="!loading && !empty">
        <tr *ngFor="let import of page.content"
            [class.text-danger]="!import.finished"
            [class.text-success]="import.finished">
          <td width="10" class="pr-1">
            <a href="javascript:void 0"
               appLocalization="common.action.delete"
               location="title"
               *ngIf="!import.finished"
               (click)="confirmDelete(import.slug)"
               class="text-danger"><i class="fas fa-trash-alt"></i></a>
          </td>
          <td class="text-left pl-1">
            <a [routerLink]="'/import/' + import.slug + '/status'" *ngIf="import.finished">{{ import.slug }}</a>
            <a [routerLink]="'/import/' + import.slug + '/analyze'" *ngIf="!import.finished">{{ import.slug }}</a>
          </td>
          <td>{{ import.created | customDate }}</td>
          <td class="d-none d-md-table-cell">{{ import.config.name }}</td>
          <td class="text-center">
            <i class="fas fa-check" *ngIf="import.finished"></i>
            <i class="fas" *ngIf="!import.finished" appProcessStatus [business-key]="import.slug" definition-key="BatchTransactionImport"></i>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="!loading && empty">
      <tr>
        <td colspan="4" appLocalization="common.overview.noresults" class="text-center"></td>
      </tr>
      </tbody>
      <tbody *ngIf="loading">
        <td colspan="4"><app-spinner></app-spinner></td>
      <tr>
      </tr>
      </tbody>
    </table>

    <ngb-pagination
      size="sm"
      class="d-flex justify-content-center"
      *ngIf="page"
      [(page)]="info.page"
      [pageSize]="page.info.pageSize"
      [collectionSize]="page.info.records"
      (pageChange)="pageChanged()"></ngb-pagination>
  </div>
</div>
