.auto-complete::ng-deep {
  display: inherit;

  .dropdown-menu {
    padding: 0;

    color: #23282c;
    background-color: var(--app-background);
    border-color: var(--app-border-color);

    .dropdown-item {
      border-bottom: 1px solid var(--app-body-background);

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
