<div class="auto-complete">
  <input type="text" class="form-control" [name]="name" [id]="name"
         [ngbTypeahead]="typeahead"
         [appLocalization]="placeholder" location="placeholder"
         [resultTemplate]="tplResult"
         [inputFormatter]="formatter"
         [required]="required"
         [(ngModel)]="model" (ngModelChange)="modelChange.emit($event)"/>

  <ng-template #tplResult let-entity="result">
    <div *ngIf="type == 1 || type == 2 || type == 3">
      {{ entity.name }}<span *ngIf="entity.account.iban" class="d-none d-md-inline-block small ml-2">({{ entity.account.iban }})</span>
      <div *ngIf="entity.description" class="small text-muted ml-2">
        {{ (entity.description.length > 50) ? (entity.description | slice:0:50)+'..' : (entity.description) }}
      </div>
    </div>

    <div *ngIf="type == 0 || type == 5 || type == 6">
      {{ entity.name }}
    </div>

    <div *ngIf="type == 4">
      {{ entity.name }}
      <div *ngIf="entity.description" class="small text-muted ml-2">
        {{ (entity.description.length > 50) ? (entity.description | slice:0:50)+'..' : (entity.description) }}
      </div>
    </div>
  </ng-template>
</div>
