@import "shared/constants";

main {
  height: 100vh;
  display: flex;
  flex-direction: row;

  app-sidebar, .main {
    transition: width $transition-time;
    height: 100vh;
    display: inline-block;
  }

  .main {
    padding: 0 15px;
    height: 100vh;
    overflow-y: auto;

    ::ng-deep app-breadcrumb > * {
      transition: width $transition-time;
      margin-left: -15px;
    }
  }

  &.sidebar-hide {
    app-sidebar {
      width: $sidebar-min-offset;
    }

    .main {
      $main-width: calc(100vw - #{$sidebar-min-offset});
      width: $main-width;

      ::ng-deep app-breadcrumb > * {
        width: $main-width;
      }
    }
  }

  &.sidebar-show {
    app-sidebar {
      width: $sidebar-offset;
    }

    .main {
      $main-width: calc(100vw - #{$sidebar-offset});
      width: $main-width;
    }
  }

  ::ng-deep app-breadcrumb > * {
    width: calc(100% + 30px);
  }

  ::ng-deep .btn > *:first-child {
    &.fa,&.fas, &.far {
      margin-right: 5px;
    }
  }

  ::ng-deep .card {
    margin-bottom: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--app-background);
    background-clip: border-box;
    border: 1px solid var(--app-border-color);
    border-radius: .25rem;
    box-shadow: 0 .2rem 0.3rem rgba(0, 0, 0, 0.175);

    &.bg-primary {
      background-color: #e24241!important;
      border-color: #187da0;
    }

    &.bg-income {
      border-color: #047135;
    }

    &.bg-danger {
      border-color: #f5302e;
      background-color: white !important;
    }

    &.bg-info {
      border-color: #2eadd3;
      background-color: #63c2de!important;
    }

    .card-header {
      margin-bottom: 0;

      background-color: var(--card-header-background);
      border-bottom-color: var(--app-border-color);
      color: var(--card-header-color);

      & > span {
        vertical-align: middle;
      }

      &:first-child {
        border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
      }

      .btn {
        margin-top: -2px;
        margin-bottom: -2px;
      }
    }

    .card-body {
      flex: 1 1 auto;
      padding: 1.25rem;
    }

    .card-footer {
      text-align: right;
      padding: .75rem 1.25rem;
      border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);

      background-color: var(--card-header-background);
      border-top-color: var(--app-border-color);

      .btn {
        margin-right: 5px;
      }
    }
  }
}

@media print {
  .app-body {
    margin-top: 0;
  }
}
