<main [class.sidebar-show]="sidebarService.isVisible()"
     [class.sidebar-hide]="!sidebarService.isVisible()">

  <app-sidebar></app-sidebar>
  <div class="main">
    <app-breadcrumb *ngIf="authorizationService.authorized"></app-breadcrumb>

    <router-outlet></router-outlet>
  </div>

</main>

<app-toasty aria-live="polite" aria-atomic="true"></app-toasty>
