<div class="modal-header">
  <h4 class="modal-title" id="modal-title" appLocalization="page.title.schedule.transaction.add"></h4>
  <button type="button" class="btn-close" aria-describedby="modal-title" (click)="dismiss()"></button>
</div>
<div class="modal-body">
  <form #form="ngForm" ngForm autocomplete="off">
    <div class="alert alert-light" appLocalization="page.budget.schedule.explained">
      info text
    </div>

    <div class="form-group row mt-2">
      <label for="name" class="col-sm-3 col-form-label" appLocalization="ScheduledTransaction.name">Name</label>
      <div class="col-sm-9">
        <app-input-field control="ScheduledTransaction">
          <input type="text" class="form-control" id="name" name="name" required
                 appLocalization="ScheduledTransaction.name" location="placeholder"
                 auto-focus
                 [(ngModel)]="model.name">
        </app-input-field>
      </div>
    </div>
    <div class="form-group row">
      <label for="amount" class="col-sm-3 col-form-label" appLocalization="ScheduledTransaction.amount">Name</label>
      <div class="col-sm-9">
        <app-input-field control="ScheduledTransaction">
          <input type="number" class="form-control w-25" id="amount" name="amount" required
                 appLocalization="ScheduledTransaction.amount" location="placeholder"
                 [(ngModel)]="model.amount">
        </app-input-field>
      </div>
    </div>

    <div class="form-group row">
      <label for="amount" class="col-sm-3 col-form-label" appLocalization="ScheduledTransaction.schedule">Name</label>
      <div class="col-sm-9">
        <input type="number" class="form-control w-25 d-inline-block" [(ngModel)]="model.schedule.interval" name="interval" id="interval"/>
        <select class="form-control w-25 d-inline-block form-select" [(ngModel)]="model.schedule.periodicity" name="periodicity" id="periodicity">
          <option ngValue="WEEKS" appLocalization="Periodicity.WEEKS">Weeks</option>
          <option ngValue="MONTHS" appLocalization="Periodicity.MONTHS">Months</option>
          <option ngValue="YEARS" appLocalization="Periodicity.YEARS">Years</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-3 col-form-label"></div>
      <div class="col-sm-9">
        <div class="btn-group-sm btn-group" ngbRadioGroup name="radioBasic" [(ngModel)]="type">
          <label ngbButtonLabel class="btn-outline-info" [class.active]="type == 'transfer'">
            <input ngbButton type="radio" value="transfer" class="btn-check"> <span appLocalization="common.transfer"></span>
          </label>
          <label ngbButtonLabel class="btn-outline-danger" [class.active]="type == 'credit'">
            <input ngbButton type="radio" value="credit" class="btn-check"> <span appLocalization="common.credit"></span>
          </label>
          <label ngbButtonLabel class="btn-outline-success" [class.active]="type == 'debit'">
            <input ngbButton type="radio" value="debit" class="btn-check"> <span appLocalization="common.debit"></span>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="from" class="col-sm-3 col-form-label" appLocalization="ScheduledTransaction.source">Name</label>
      <div class="col-sm-9">
        <app-autocomplete *ngIf="type == 'debit'"
                          [(model)]="model.source"
                          [type]="EntityType.DEBIT_ACCOUNT"
                          name="from"></app-autocomplete>

        <select *ngIf="type != 'debit'" class="form-control form-select" id="from" name="from" required
                [compareWith]="compareAccount"
                [(ngModel)]="model.source">
          <option *ngFor="let a of ownAccounts"
                  [ngValue]="a"
                  [label]="a.name"></option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="credit" class="col-sm-3 col-form-label" appLocalization="ScheduledTransaction.destination">Name</label>
      <div class="col-sm-9">
        <app-autocomplete *ngIf="type == 'credit'"
                          [(model)]="model.destination"
                          [type]="EntityType.CREDIT_ACCOUNT"
                          name="from"></app-autocomplete>

        <select *ngIf="type != 'credit'" class="form-control form-select" id="credit" name="credit" required
                [compareWith]="compareAccount"
                [(ngModel)]="model.destination">
          <option *ngFor="let a of ownAccounts"
                  [ngValue]="a"
                  [label]="a.name"></option>
        </select>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary"
          (click)="dismiss()"
          [disabled]="processing"
          appLocalization="common.action.cancel"></button>
  <button type="button" class="btn btn-success"
          [disabled]="form.invalid || processing"
          (click)="create()"
          appLocalization="common.action.save"></button>
</div>
