<h6 class="modal-title" id="modal-title" appLocalization="page.header.user.password"></h6>
<div appLocalization="page.user.password.change.explain" class="alert alert-light"></div>
<form #form="ngForm" autocomplete="off">
  <app-input-field control="UserAccount">
    <input #validator="password" password-input [(ngModel)]="password"
           appLocalization="UserAccount.password" location="placeholder"
           [validators]="[Criteria.at_least_six_chars, Criteria.at_least_one_lower_case_char, Criteria.at_least_one_upper_case_char, Criteria.at_least_one_digit_char]"
           name="password" id="password" class="form-control" required/>
  </app-input-field>

  <div class="card shadow">
    <div class="card-body text-muted">
      <div *ngFor="let result of validator.validated" class="ml-2">
        <em [class]="'fa mr-1 ' + result.style"></em>
        <span [appLocalization]="'Account.password.' + result.validator"></span>
      </div>
    </div>
  </div>
</form>

<button type="button" class="btn btn-success"
        [disabled]="form.invalid || isUpdating"
        (click)="updatePassword()"
        appLocalization="page.header.user.password"></button>
