<div class="modal-header">
  <h4 class="modal-title" id="modal-title" appLocalization="page.account.savings.new"></h4>
  <button type="button" class="btn-close" aria-describedby="modal-title" (click)="dismiss()"></button>
</div>
<div class="modal-body">
  <form ngForm #savingGoalForm="ngForm" autocomplete="off" name="savingForm">
    <div class="form-group row">
      <label for="savingName" class="col-sm-3 col-form-label" appLocalization="SavingGoal.name">Name</label>
      <div class="col-sm-9">
        <input type="text"
               name="savingName"
               class="form-control"
               id="savingName"
               [(ngModel)]="savingGoalModel.name"
               auto-focus
               required/>
      </div>
    </div>
    <div class="form-group row">
      <label for="goal" class="col-sm-3 col-form-label" appLocalization="SavingGoal.goal">Goal</label>
      <div class="col-sm-9">
        <div class="input-group">
          <app-currency-selector
            [value]="savingAccount.account.currency"
            class="input-group-text"
            readonly="true"></app-currency-selector>
          <input type="number"
                 name="goal"
                 id="goal"
                 min="0"
                 class="form-control"
                 [(ngModel)]="savingGoalModel.goal"
                 required="required">
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="targetDate" class="col-sm-3 col-form-label" appLocalization="SavingGoal.targetDate">Completion date</label>
      <div class="col-sm-9">
        <div class="input-group">
          <input type="text" class="form-control" id="targetDate" name="targetDate" required readonly
                 ngbDatepicker [(ngModel)]="savingGoalModel.targetDate"
                 [minDate]="minDate"
                 #transactionDate="ngbDatepicker"
                 appLocalization="Transaction.date"
                 location="placeholder">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary fa fa-calendar" (click)="transactionDate.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary"
          (click)="dismiss()"
          [disabled]="processing"
          appLocalization="common.action.cancel"></button>
  <button type="button" class="btn btn-success"
          (click)="process()"
          [disabled]="processing || savingGoalForm.invalid"
          appLocalization="common.action.save"></button>
</div>
