@import "../../shared/constants";

table {
  tr:hover {
    td.col-action {
      & > .fas {
        display: inherit;
      }
    }
  }

  td, th {
    &.col-action {
      width: 20px;
      vertical-align: middle;
      color: #6c757d;

      & > .fas {
        cursor: pointer;
        display: none;

        &:after {
          display: none;
        }
      }

      @include dropdown-action-menu();
    }
  }
}

@media (max-width: $phone-landscape-max-width) {
  .col-type, .col-last-date, .col-account {
    display: none;
  }
}
