<div class="card">
  <div class="card-header">
    <span appLocalization="page.nav.accounts.accounts"></span>
    <a class="btn btn-sm float-end btn-primary" routerLink="/accounts/own/add/" role="button">
      <i class="fas fa-plus"></i>
      <span appLocalization="page.account.accounts.add" class="d-none d-md-inline"></span>
    </a>
  </div>
  <div class="card-body">
    <table class="table table-hover table-responsive-sm table-sm mt-4">
      <thead>
      <tr>
        <th appLocalization="Account.name" class="col-name">Name</th>
        <th appLocalization="Account.type" class="col-type">Type</th>
        <th appLocalization="Account.lastActivity" class="col-last-date">Last transaction</th>
        <th appLocalization="Account.number" class="col-account">Account number</th>
        <th appLocalization="common.account.saldo" class="col-saldo">Current value</th>
        <th class="col-action"></th>
      </tr>
      </thead>
      <tbody *ngIf="!loading">
      <tr *ngFor="let account of accounts"
          (mouseleave)="dropdown.close()">
        <td class="col-name">
          <a [routerLink]="'./' + account.id + '/transactions'" class="text-primary text-decoration-none" *ngIf="!account.isSavings()">{{ account.name }}</a>
          <a [routerLink]="'/accounts/savings/' + account.id + '/transactions'" class="text-primary text-decoration-none" *ngIf="account.isSavings()">{{ account.name }}</a>
        </td>
        <td [appLocalization]="'AccountType.' + account.type " class="col-type"></td>
        <td class="col-last-date">{{ account.history.lastTransaction | customDate }}</td>
        <td class="col-account">
          <span *ngIf="account.account.iban">{{ account.account.iban }}</span>
          <span *ngIf="account.account.number && !account.account.iban">{{ account.account.number }}</span>
        </td>
        <td class="col-saldo">
          <app-statistical-balance [account]="[account]" [currency]="account.account.currency"></app-statistical-balance>
        </td>
        <td ngbDropdown class="col-action" #dropdown="ngbDropdown">
          <em class="fas fa-ellipsis-v" ngbDropdownToggle [id]="'transaction-menu-' + account.id"></em>
          <div ngbDropdownMenu class="dropdown-menu-left">
            <a [routerLink]="'/accounts/own/' + account.id + '/edit/'"
               ngbDropdownItem
               class="text-primary"><i class="fas fa-edit"></i> <span appLocalization="common.action.edit"></span></a>
            <a href="javascript:void 0"
               ngbDropdownItem
               (click)="confirmDelete(account)"
               class="text-danger"><i class="fas fa-trash-alt"></i> <span appLocalization="common.action.delete"></span></a>
            <a href="javascript: void 0"
               ngbDropdownItem
               class="text-dark"
               (click)="onReconcileClick(account)"><i class="fas fa-check"></i> <span appLocalization="page.reports.default.reconcile"></span></a>
          </div>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="loading">
      <tr>
        <td colspan="6"><app-spinner></app-spinner></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card" *ngIf="reconciles && reconciles.length">
  <div class="card-header">
    <span appLocalization="page.accounts.reconcile.active"></span>
  </div>
  <div class="card-body">
    <div class="alert alert-light" appLocalization="page.accounts.reconcile.active.explained">
      info text
    </div>

    <table class="table table-hover table-responsive-sm table-sm mt-4">
      <thead>
      <tr>
        <th rowspan="2"></th>
        <th appLocalization="Account.name" rowspan="2" style="min-width: 20em"></th>
        <th appLocalization="common.year" rowspan="2" width="75"></th>
        <th appLocalization="common.start" colspan="2"></th>
        <th appLocalization="common.end" colspan="2"></th>
      </tr>
      <tr>
        <th appLocalization="common.expected" class="w-auto"></th>
        <th appLocalization="common.actual" class="w-auto"></th>
        <th appLocalization="common.expected" class="w-auto"></th>
        <th appLocalization="common.actual" class="w-auto"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let process of reconciles">
        <td>
          <a href="javascript:void 0"
             (click)="onReconcileClick(process.account, process.year - 1, process.value('openBalance'))"
             appLocalization="page.accounts.reconcile.previous" location="title"
             class="text-primary"><i class="fa fa-hammer"></i></a>
          <a href="javascript:void 0"
             (click)="closeReconcileTask(process)"
             appLocalization="common.action.retry" location="title"
             class="text-secondary"><i class="fa fa-redo"></i></a>
          <a href="javascript:void 0"
             (click)="confirmReconcileDelete(process)"
             appLocalization="common.action.delete" location="title"
             class="text-danger"><i class="fas fa-trash-alt"></i></a>
        </td>
        <td *ngIf="process.loaded">{{ process.account.name }}</td>
        <td *ngIf="process.loaded">{{ process.year }}</td>
        <td *ngIf="process.loaded" [appBalance]="process.value('openBalance')"></td>
        <td *ngIf="process.loaded" [appBalance]="process.value('computedStartBalance')"></td>
        <td *ngIf="process.loaded" [appBalance]="process.value('endBalance')"></td>
        <td *ngIf="process.loaded" [appBalance]="process.value('computedEndBalance')"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
