<div class="modal-header">
  <h4 class="modal-title" id="modal-title" appLocalization="page.user.profile.session.add"></h4>
  <button type="button" class="btn-close" aria-describedby="modal-title" (click)="dismiss()"></button>
</div>

<div class="modal-body">
  <app-error-message></app-error-message>

  <form ngForm autocomplete="off" #createForm="ngForm">

    <div class="form-group row">
      <label for="description" class="col-sm-3" appLocalization="SessionToken.description"></label>
      <div class="col-sm-9">
        <app-input-field control="AccountReconcile">
          <input type="text"
                 auto-focus
                 class="form-control"
                 id="description"
                 name="description"
                 min="1" [(ngModel)]="model.description"
                 appLocalization="SessionToken.description"
                 location="placeholder"
                 required
                 maxlength="255">
        </app-input-field>
      </div>
    </div>

    <div class="form-group row">
      <label for="start" class="col-sm-3 col-form-label" appLocalization="SessionToken.validUntil"></label>
      <div class="col-sm-9">
        <div class="input-group">
          <input type="text" class="form-control" id="start" name="start" required
                 ngbDatepicker [(ngModel)]="model.expire" #expireDate="ngbDatepicker"
                 appLocalization="SessionToken.validUntil" location="placeholder">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary fa fa-calendar" (click)="expireDate.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>


<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary"
          (click)="dismiss()"
          [disabled]="processing"
          appLocalization="common.action.cancel"></button>
  <button type="button" class="btn btn-success"
          (click)="create()"
          [disabled]="processing || createForm.invalid"
          appLocalization="common.action.confirm"></button>
</div>
