#activateQr {
  display: flex;
  flex-direction: row;

  & > * {
    flex: 1;
  }

  img {
    max-width: 150px;
    margin-right: 3ch;
  }

  div {
    font-weight: bold;

    input {
      margin-top: .5ch;
      margin-bottom: 1.5ch;
      max-width: 15ch;
    }
  }
}
