<h4 appLocalization="page.user.profile.twofactor"></h4>

<!-- Section for when 2-FA is disabled -->
<div id="two-factor-enable" *ngIf="!profile.mfa">
  <div class="alert alert-light" appLocalization="page.user.profile.twofactor.explained"></div>

  <form ngForm autocomplete="off" #verifyForm="ngForm" id="activateQr">
    <img [src]="qrCodeImage" class="img-fluid mt-1" alt="Scan QR code"/>
    <div>
      <label for="verificationCode" appLocalization="UserAccount.twofactor.secret"></label>
      <app-input-field control="UserAccount">
        <input type="text" class="form-control" id="verificationCode" name="verificationCode" min="1"
               [(ngModel)]="verificationCode" required minlength="4" maxlength="6">
      </app-input-field>
      <button class="btn btn-sm btn-outline-primary" (click)="enableTwoFactor()">
        <i class="fas fa-lock"></i>
        <span appLocalization="page.user.profile.action.twofactor.enable"></span>
      </button>
    </div>
  </form>
</div>

<div id="two-factor-disable" *ngIf="profile.mfa">
  <div class="alert alert-light" appLocalization="page.user.profile.twofactor.disableExplain">
    info text
  </div>
  <a class="btn btn-sm btn-outline-danger" href="javascript: void 0" (click)="disableMultiFactor()">
    <i class="fas fa-unlock"></i>
    <span appLocalization="page.user.profile.action.twofactor.disable"></span>
  </a>
</div>
