@import "../../shared/constants";

.btn {
  padding: 0 .75rem;
  vertical-align: top;
  border: 0;
  font-size: .875rem;
}

@include month-year-pickers;

.dropdown-menu-right {
  padding: 0;
}


@media (max-width: $phone-portrait-max-width) {
  :host-context(*) {
    width: 100%;
    display: table;
    margin-top: .5em;
    border-top: 1px solid lightgray;
    padding-top: .5em;

    .btn-group .d-table-cell {
      &:first-child {
        padding-left: 2em;
      }
    }
  }
}
