<div class="modal-header">
  <h4 class="modal-title" id="modal-title" appLocalization="page.transactions.detail.title"></h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row font-weight-bold">
    <div class="col" appLocalization="Transaction.description"></div>
    <div class="col-auto" appLocalization="Transaction.amount"></div>
  </div>
  <div class="row" *ngFor="let record of transaction.split">
    <div class="col">{{ record.description }}</div>
    <div class="col-auto" [appBalance]="record.amount" [currency]="transaction.currency"></div>
  </div>
  <div class="row">
    <div class="col text-right text-black-50 font-weight-bold">Total:</div>
    <div class="col-auto border-top" [appBalance]="transaction.amount"></div>
  </div>
</div>
