@import "../../shared/constants";

table {

  tr:hover {
    td.col-action {
      & > .fas {
        display: inherit;
      }
    }
  }

  th, td {
    vertical-align: middle;

    &.account-image {
      vertical-align: middle;
      text-align: center;
      width: 30px;
      img {
        max-width: 30px;
      }
    }

    &.col-company {
      width: 250px;
    }

    &.col-dates {
      width: 100px;
    }

    &.col-action {
      width: 20px;
      vertical-align: middle;
      color: #6c757d;

      & > .fas {
        cursor: pointer;
        display: none;

        &:after {
          display: none;
        }
      }

      .dropdown-menu {
        background: white;
      }

      @include dropdown-action-menu();
    }
  }
}
