<table class="table table-responsive-sm table-sm mt-4">
  <thead>
  <tr>
    <th appLocalization="Contract.name" class="col-name" colspan="2">Name</th>
    <th appLocalization="Contract.company" class="d-none d-md-table-cell col-company"></th>
    <th appLocalization="Contract.start" class="d-none d-md-table-cell col-dates"></th>
    <th appLocalization="Contract.end" class="d-none d-md-table-cell col-dates"></th>
    <th class="d-print-none col-action"></th>
  </tr>
  </thead>
  <tr *ngFor="let contract of contracts"
      (mouseleave)="dropdown.close()">
    <td class="account-image">
      <img [appImage]="contract.company.iconFileCode" *ngIf="contract.company.iconFileCode" />
    </td>
    <td class="col-name">
      <a [routerLink]="['/contracts', contract.id]">{{contract.name}}</a>
      <div class="small text-muted pt-0">
        {{ contract.description }}
      </div>
    </td>
    <td class="col-company">
      <a [routerLink]="'/accounts/' + contract.company.type + '/' + contract.company.id + '/transactions'">{{ contract.company.name }}</a>
    </td>
    <td class="col-dates">
      {{ contract.start | customDate }}
    </td>
    <td class="col-dates">
      {{ contract.end | customDate }}
    </td>
    <td class="d-print-none col-action" ngbDropdown #dropdown='ngbDropdown'>
      <em class="fas fa-ellipsis-v" ngbDropdownToggle [id]="'contract-menu-' + contract.id"></em>
      <div ngbDropdownMenu class="dropdown-menu-left">
        <a href="javascript:void 0"
           (click)="openCreateSchedule(contract)"
           [disabled]="contract.terminated || contract.scheduled"
           ngbDropdownItem><em class="fas fa-calendar-alt"></em> <span appLocalization="page.contract.action.schedule"></span></a>
        <a href="javascript:void 0"
           ngbDropdownItem
           [appDownload]="fileService.download.bind(fileService, contract.fileToken)"
           [fileName]="contract.name + '.pdf'"
           *ngIf="contract.contractAvailable"
           class="text-primary"><i class="fas fa-download"></i> <span appLocalization="page.budget.contracts.action.downloadContract"></span></a>
        <a href="javascript:void 0"
           ngbDropdownItem
           (click)="uploadContract(contract)"
           *ngIf="!contract.contractAvailable"
           [disabled]="contract.terminated"
           class="text-primary"><i class="fas fa-upload"></i> <span appLocalization="page.budget.contracts.action.uploadContract"></span></a>
        <a href="javascript:void 0"
           ngbDropdownItem
           (click)="warnBeforeExpire(contract)"
           *ngIf="!contract.notification"
           [disabled]="contract.terminated"
           class="text-secondary"><i class="fas fa-flag"></i> <span appLocalization="page.title.budget.contracts.warn"></span></a>
        <a [routerLink]="['/contracts', contract.id, 'edit']"
           *ngIf="!contract.terminated"
           ngbDropdownItem
           class="text-primary"><i class="fas fa-edit"></i> <span appLocalization="common.action.edit"></span></a>
        <a href="javascript:void 0"
           ngbDropdownItem
           *ngIf="allowDelete(contract)"
           (click)="openConfirmDelete(contract)"
           class="text-danger"><i class="fas fa-trash-alt"></i> <span appLocalization="common.action.delete" ></span></a>
      </div>
    </td>
  </tr>
</table>
