<div class="card">
  <div class="card-header">
    <span appLocalization="page.settings.currencies.title"></span>

    <a class="btn btn-sm btn-primary float-end d-print-none"
       routerLink="/settings/currency/add" role="button">
      <i class="fas fa-plus"></i>
      <span appLocalization="page.settings.currencies.add" class="d-none d-md-inline">Add account</span>
    </a>
  </div>
  <div class="card-body">
    <table class="table table-hover table-responsive-sm table-sm mt-4">
      <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th appLocalization="Currency.name"></th>
        <th appLocalization="Currency.decimalPlaces"></th>
        <th appLocalization="Currency.enabled"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let currency of currencies">
        <td>
          <a [routerLink]="'/settings/currency/edit/' + currency.code"
             class="text-primary"
             appLocalization="common.action.edit" location="title"><i class="fas fa-edit"></i></a>
        </td>
        <td class="text-center">{{ currency.symbol }}</td>
        <td class="text-center">{{ currency.code }}</td>
        <td>{{ currency.name }}</td>
        <td>{{ currency.numberDecimals }}</td>
        <td>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input"
                   [id]="'enabled-'+ currency.code"
                   [(ngModel)]="currency.enabled"
                   (change)="changeState(currency)">
            <label class="custom-control-label" [for]="'enabled-'+ currency.code"></label>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
