@import "../../shared/constants";

table {

  tr:hover {
    td.col-action {
      & > .fas {
        display: inherit;
      }
    }
  }

  td, th {
    &.col-select {
      vertical-align: middle;
      width: 20px;

      input {
        position: relative;
        margin: 0 7px 0 0;
        vertical-align: middle;
      }
    }

    &.col-date {
      width: 70px;
      text-align: center;
      vertical-align: middle;
    }

    &.col-account {
      width: 100px;
      white-space: nowrap;
      vertical-align: middle;
    }

    &.account-image {
      vertical-align: middle;
      text-align: center;
      max-width: 30px;
      img {
        max-width: 25px;
      }
    }

    &.col-description {

      .tags {
        .badge {
          margin-right: .5ch;
        }
      }
    }

    &.col-amount {
      width: 75px;
      vertical-align: middle;
    }

    &.col-action {
      width: 20px;
      vertical-align: middle;
      color: #6c757d;

      & > .fas {
        cursor: pointer;
        display: none;

        &:after {
          display: none;
        }
      }

      @include dropdown-action-menu();
    }
  }
}
