<div class="responsive">
  <table class="table table-sm table-hover mb-4 mt-4">
    <thead>
    <tr>
      <th class="col-select">
        <input type="checkbox" class="form-check-input"
               *ngIf="transactions.length > 0"
               [checked]="allSelected"
               (change)="onSelectAll()"/>
        <a *ngIf="selected.length > 0"
           (click)="onSelectedEdit()"
           href="javascript:void 0"
           appLocalization="common.action.edit"
           location="title"><i class="fas fa-edit"></i></a>
      </th>
      <th appLocalization="Transaction.date" class="col-date"></th>
      <th appLocalization="Transaction.source" *ngIf="!displaySource" class="col-account"></th>
      <th appLocalization="Transaction.to" colspan="2"></th>
      <th appLocalization="Transaction.description" class="col-description"></th>
      <th appLocalization="Transaction.amount" class="col-amount"></th>
      <th class="col-action"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let transaction of transactions"
        (mouseleave)="dropdown.close()">
      <td class="col-select">
        <input type="checkbox" class="form-check-input"
               [checked]="isSelected(transaction.id)"
               (change)="onSelect(transaction.id)"/>
      </td>
      <td class="col-date">
        <div class="small">{{ transaction.dates.transaction | customDate }}</div>
        <i [class]="'fas text-muted fa-' + transaction.type.class"></i>
      </td>
      <td class="col-account" *ngIf="!displaySource">
        <a *ngIf="transaction.source.isOwn()"
           [routerLink]="'/accounts/' + transaction.source.frontEndType + '/' + transaction.source.id + '/transactions/'">{{ transaction.source.name }}</a>
        <a *ngIf="!transaction.source.isOwn() && transaction.destination.isOwn()"
           [routerLink]="'/accounts/' + transaction.destination.frontEndType + '/' + transaction.destination.id + '/transactions/'">{{ transaction.destination.name }}</a>
      </td>
      <td class="account-image">
        <img *ngIf="!transaction.source.isOwn() && transaction.source.iconFileCode"
             [appImage]="transaction.source.iconFileCode"/>
        <img *ngIf="transaction.source.isOwn() && transaction.destination.iconFileCode"
             [appImage]="transaction.destination.iconFileCode"/>
      </td>
      <td class="col-account" *ngIf="!displaySource">
        <a *ngIf="!transaction.source.isOwn()"
           [routerLink]="'/accounts/' + transaction.source.frontEndType + '/' + transaction.source.id + '/transactions/'">{{ transaction.source.name }}</a>
        <a *ngIf="transaction.source.isOwn()"
           [routerLink]="'/accounts/' + transaction.destination.frontEndType + '/' + transaction.destination.id + '/transactions/'">{{ transaction.destination.name }}</a>
        <em *ngIf="transaction.isSplit()" class="fa fa-table ml-1 small text-black-50"></em>
      </td>
      <td class="col-account" *ngIf="displaySource">
        <a [routerLink]="'/accounts/' + transaction.oppositeAccount(displaySource).frontEndType + '/' + transaction.oppositeAccount(displaySource).id + '/transactions/'">{{ transaction.oppositeAccount(displaySource).name }}</a>
      </td>
      <td class="col-description">
        {{ transaction.description }}
        <div class="small text-muted" *ngIf="transaction.metadata.category">
          <label appLocalization="Transaction.category" class="d-none d-sm-inline"></label> {{ transaction.metadata.category }}
        </div>
        <div class="small text-muted" *ngIf="transaction.metadata.budget">
          <label appLocalization="Transaction.budget" class="d-none d-sm-inline"></label> {{ transaction.metadata.budget }}
        </div>
        <div class="small text-muted" *ngIf="transaction.metadata.contract">
          <label appLocalization="Transaction.contract" class="d-none d-sm-inline"></label> {{ transaction.metadata.contract }}
        </div>
        <div *ngIf="transaction.metadata.tags" class="tags">
          <span *ngFor="let tag of transaction.metadata.tags" class="badge rounded-pill bg-info">{{ tag }}</span>
        </div>
      </td>
      <td class="col-amount" [appBalance]="transaction.computeAmount(displaySource)" [currency]="transaction.currency"></td>
      <td ngbDropdown #dropdown='ngbDropdown' class="col-action">
        <em class="fas fa-ellipsis-v" ngbDropdownToggle [id]="'transaction-menu-' + transaction.id"></em>
        <div ngbDropdownMenu class="dropdown-menu-left">
          <a href="javascript:void 0"
             (click)="openCreateSchedule(transaction)"
             ngbDropdownItem><em class="fas fa-calendar-alt"></em> <span appLocalization="page.transaction.action.recurring"></span></a>
          <a href="javascript:void 0"
             *ngIf="transaction.isSplit()"
             (click)="openTransactionDetail(transaction)"
             ngbDropdownItem><em class="fas fa-table"></em> <span appLocalization="page.transaction.action.details"></span></a>
          <a
            [routerLink]="buildEditLink(transaction)"
            *ngIf="!transaction.source.isSystem() && !transaction.destination.isSystem()"
            class="text-primary"
            ngbDropdownItem><em class="fas fa-edit"></em> <span appLocalization="common.action.edit"></span></a>
          <a
            href="javascript:void 0"
            (click)="onTransactionDelete(transaction)"
            class="text-danger"
            ngbDropdownItem><em class="fas fa-trash-alt"></em><span appLocalization="common.action.delete"></span></a>
        </div>
      </td>
    </tr>
    <tr *ngIf="transactions.length == 0">
      <td colspan="8" class="text-center text-muted text-lowercase" appLocalization="common.overview.noresults"></td>
    </tr>
    </tbody>
  </table>
</div>
