<h6 appLocalization="page.title.user.session.active"></h6>
<table class="table table-responsive-sm">
  <thead>
  <tr>
    <th appLocalization="SessionToken.description" colspan="2"></th>
    <th appLocalization="SessionToken.validFrom"></th>
    <th appLocalization="SessionToken.validUntil"></th>
  </tr>
  </thead>
  <tbody *ngIf="sessions.length">
  <tr *ngFor="let session of sessions">
    <td width="50">
      <a href="javascript:void 0"
         appLocalization="common.action.clipboard.copy"
         location="title"
         (click)="toClipboard(session)"
      ><i class="fas fa-clipboard-check"></i></a>
      <a href="javascript:void 0"
         appLocalization="common.action.delete"
         location="title"
         (click)="confirmDelete(session)"
         class="text-danger ml-1"><i class="fas fa-trash-alt"></i></a>
    </td>
    <td>{{ session.description }}</td>
    <td>{{ session.validFrom | customDateTime }}</td>
    <td>{{ session.validUntil | customDateTime }}</td>
  </tr>
  </tbody>
</table>
<button class="btn btn-sm btn-primary d-print-none" (click)="openCreateSession()">
  <em class="fas fa-plus"></em>
  <span appLocalization="page.user.profile.session.add" class="d-none d-md-inline">Add account</span>
</button>
