<div class="card">
  <form autocomplete="off" #form="ngForm">
    <div class="card-header">
      <span appLocalization="page.title.schedule.transaction.edit"></span>
    </div>

    <div class="card-body" *ngIf="!model">
      <app-spinner></app-spinner>
    </div>

    <div class="card-body" *ngIf="model">
      <app-error-message></app-error-message>

      <div class="form-group row mt-2">
        <label for="name" class="col-sm-3 col-form-label" appLocalization="ScheduledTransaction.name"></label>
        <div class="col-sm-9">
          <app-input-field control="ScheduledTransaction">
            <input type="text" class="form-control" id="name" name="name"
                   appLocalization="ScheduledTransaction.name" location="placeholder"
                   [(ngModel)]="model.name">
          </app-input-field>
        </div>
      </div>
      <div class="form-group row mt-2">
        <label for="description" class="col-sm-3 col-form-label" appLocalization="ScheduledTransaction.description"></label>
        <div class="col-sm-9">
          <app-input-field control="ScheduledTransaction">
            <textarea class="form-control" id="description" name="description"
                   appLocalization="ScheduledTransaction.description" location="placeholder"
                   [(ngModel)]="model.description">
            </textarea>
          </app-input-field>
        </div>
      </div>

      <div class="form-group row">
        <label for="periodicity" class="col-sm-3 col-form-label" appLocalization="ScheduledTransaction.schedule">Name</label>
        <div class="col-sm-9">
          <input type="number" class="form-control w-25 d-inline-block" [(ngModel)]="model.schedule.interval" name="interval" id="interval"/>
          <select class="form-control w-25 d-inline-block" [(ngModel)]="model.schedule.periodicity" name="periodicity" id="periodicity">
            <option ngValue="WEEKS" appLocalization="Periodicity.WEEKS">Weeks</option>
            <option ngValue="MONTHS" appLocalization="Periodicity.MONTHS">Months</option>
            <option ngValue="YEARS" appLocalization="Periodicity.YEARS">Years</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="start" class="col-sm-3 col-form-label" appLocalization="ScheduledTransaction.start"></label>
        <div class="col-sm-4 col-md-3">
          <div class="input-group">
            <input type="text" class="form-control" id="start" name="start" required
                   ngbDatepicker [(ngModel)]="model.range.start" #startDate="ngbDatepicker"
                   appLocalization="Transaction.date" location="placeholder">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary fa fa-calendar" (click)="startDate.toggle()" type="button"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="end" class="col-sm-3 col-form-label" appLocalization="ScheduledTransaction.end"></label>
        <div class="col-sm-4 col-md-3">
          <div class="input-group">
            <input type="text" class="form-control" id="end" name="end" required
                   ngbDatepicker [(ngModel)]="model.range.end" #endDate="ngbDatepicker"
                   appLocalization="Transaction.date" location="placeholder">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary fa fa-calendar" (click)="endDate.toggle()" type="button"></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <button class="btn btn-sm btn-primary" (click)="persist()" [disabled]="form.invalid">
        <i class="far fa-dot-circle"></i>
        <span appLocalization="common.action.save"></span>
      </button>
      <app-back-button></app-back-button>
    </div>
  </form>
</div>
