<h6 appLocalization="page.user.profile.currency"></h6>
<div class="form-check" *ngFor="let currency of currencies">
  <input type="radio" class="form-check-input"
         name="currencySelector"
         [id]="currency.code"
         [value]="currency.code"
         (click)="patchProfile('currency', currency.code)"
         [checked]="currency.code == profile.currency">
  <label [for]="currency.code"
         class="form-check-label" >{{ currency.code }}</label>
</div>
