@import "../../shared/constants";

.sidebar {
  height: 100vh;
  width: 100%;

  color: var(--sidebar-color);
  background: var(--sidebar-background);
  position: relative;

  .brand {
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row;
    align-items: center;

    background: var(--sidebar-sub-background);

    & > * {
      flex: 1;
    }

    img {
      max-width: 35px;
      height: 35px;
    }

    span {
      padding-top: 3px;
      text-align: center;
    }

    .btn-toggle {
      transition: margin $transition-time, width $transition-time;
      max-width: 25px;

      .nav-icon {
        color: white;
        &.fa-times {
          color: var(--danger);
        }
      }
    }
  }

  .btn-sidebar {
    width: calc(100% - 10px);
    height: .7*$sidebar-min-offset;

    margin-left: 5px;
    align-items: center;
    cursor: pointer;
    font-size: 1.1em;

    display: flex;
    flex-flow: row;
    color: var(--sidebar-title-color);
    z-index: 10;
    text-decoration: none;

    &.nav-expandable {
      &.active {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    &:active, &:hover {
      text-decoration: none;
    }

    &.active {
      background: var(--sidebar-sub-background);
      border-radius: 5px;
    }

    &.active, &:focus {
      .nav-expand {
        color: var(--sidebar-title-color);

        &:before {
          content: "\f078";
        }
      }
    }

    &:hover {
      background: var(--app-background);
      border-radius: 5px;

      color: var(--app-header-text);

      .nav-expand {
        color: var(--app-header-text);
      }
    }

    & > * {
      flex: 1;
    }

    .nav-icon {
      padding-left: 10px;
      max-width: 30px;
    }

    .text {
      transition: opacity $transition-time .5*$transition-time;
      opacity: 1;
      margin: auto 0 auto 10px;
    }

    .nav-expand {
      max-width: 20px;
      color: var(--app-text-muted-color);

      &:before {
        content: "\f053";
      }
    }
  }

  .nav-expansion {
    height: 0;
    max-height: 0;
    width: calc(100% - 10px);
    overflow-y: hidden;
    margin-left: 5px;
    padding-left: 10px;
    font-size: .9em;

    &.expanded {
      transition: max-height 3*$transition-time;
      height: auto;
      max-height: 500px;
      background-color: var(--sidebar-sub-background);
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    .btn-sidebar {
      width: calc(100% - 15px);

      &.active {
        background: var(--sidebar-icon-color);
      }
    }
  }

  .sidebar-divider {
    text-transform: uppercase;
    color: var(--sidebar-icon-color);
    padding-left: 15px;
    margin: 15px 0 5px 0;
  }

  footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 5px;
    background: var(--sidebar-sub-background);

    display: flex;
    flex-direction: row;
    align-items: center;

    .img-avatar {
      width: 40px;
      padding: 5px;
      background: var(--sidebar-title-color);

      border-radius: 10px;
    }

    span.text {
      flex: 1;
      text-align: center;

      .flag-icon {

      }
    }

    .logout {
      font-size: 1.5em;
      color: var(--sidebar-icon-color);
      margin-right: 5px;
    }
  }
}

.sidebar-hide {
  .sidebar {
    .brand {
      img, span {
        display: none;
      }

      .btn-toggle {
        padding: 5px;
      }

      .nav-icon {
        padding-top: 5px;
        padding-left: 8px;
      }
    }

    .btn-sidebar {
      .nav-expand {
        opacity: 0
      }

      .text {
        transition: none;
        opacity: 0;
      }

      &:hover {
        position: relative;

        .text {
          position: absolute;
          opacity: 1;
          top: 3px;
          left: .7*$sidebar-min-offset;

          color: var(--app-text-muted-color);
          background: var(--app-background);

          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;

          font-size: 0.8em;
          line-height: .5*$sidebar-min-offset;
          white-space: nowrap;

          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

          padding: 2px 15px;
        }
      }
    }

    .sidebar-divider {
      display: none;
    }

    .nav-expansion {
      width: calc(100% - 10px);
      margin-left: 5px;
      padding-left: 0;
      overflow: hidden;

      .btn-sidebar {
        margin: 0;
        border-radius: 0;
        width: 100%;
        padding-left: 3px;
      }

    }

    footer {
      .logout {
        opacity: 0;
      }
    }
  }
}
