<div class="sidebar" *ngIf="authorizationService.authorized && !authorizationService.token.requiresMFA">
  <div class="brand">
    <img class="navbar-brand-full pr-1" src="assets/logo.png" />
    <span>Finances</span>
    <a class="btn-toggle" (click)="service.toggle()">
      <em class="nav-icon fas"
          [class.fa-bars]="!service.isVisible()"
          [class.fa-times]="service.isVisible()"></em>
    </a>
  </div>

  <a class="btn-sidebar" routerLinkActive="active" routerLink="/dashboard" (click)="service.navigate()">
    <em class="nav-icon fas fa-tachometer-alt"></em>
    <span class="text" appLocalization="page.nav.dashboard"></span>
  </a>

  <!-- report section -->
  <a class="btn-sidebar nav-expandable"
     href="javascript: void(0);"
     routerLink="/reports"
     routerLinkActive="active"
    [routerLinkActiveOptions]="{partial: true}">
    <em class="nav-icon fas fa-chart-bar"></em>
    <span class="text" appLocalization="page.nav.reports"></span>
    <em class="nav-expand fas"></em>
  </a>
  <div class="nav-expansion" routerLinkActive="expanded">
    <a class="btn-sidebar" routerLink="/reports/income-expense" routerLinkActive="active">
      <em class="nav-icon fas fa-chart-area"></em>
      <span class="text" appLocalization="page.reports.default.title"></span>
    </a>
    <a class="btn-sidebar" routerLink="/reports/monthly-budget" routerLinkActive="active">
      <em class="nav-icon fas fa-chart-pie"></em>
      <span class="text" appLocalization="page.reports.budget.title"></span>
    </a>
    <a class="btn-sidebar" routerLink="/reports/monthly-category" routerLinkActive="active">
      <em class="nav-icon fas fa-chart-line"></em>
      <span class="text" appLocalization="page.reports.category.title"></span>
    </a>
  </div>

  <div class="sidebar-divider">
    <span class="divider"></span>
    <span class="text" appLocalization="page.nav.finances"></span>
  </div>

  <!-- budget section -->
  <a class="btn-sidebar" routerLinkActive="active" routerLink="/budgets">
    <em class="nav-icon fas fa-tasks"></em>
    <span class="text" appLocalization="page.nav.budget.groups"></span>
  </a>

  <!-- contract section -->
  <a class="btn-sidebar" routerLinkActive="active" routerLink="/contracts">
    <em class="nav-icon fas fa-file-signature"></em>
    <span class="text" appLocalization="page.nav.budget.contracts"></span>
  </a>

  <div class="sidebar-divider">
    <span class="text" appLocalization="page.nav.accounting"></span>
  </div>

  <!-- transactions section -->
  <div class="btn-sidebar nav-expandable"
       routerLink="/transactions"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{partial: true}">
    <em class="nav-icon fas fa-exchange-alt"></em>
    <span class="text" appLocalization="page.nav.transactions"></span>
    <em class="nav-expand fas fa-chevron-left"></em>
  </div>
  <div class="nav-expansion" routerLinkActive="expanded">
    <a class="btn-sidebar" routerLink="/transactions/income-expense" routerLinkActive="active">
      <em class="nav-icon fas fa-long-arrow-alt-left"></em>
      <span class="text" appLocalization="page.nav.incomeexpense"></span>
    </a>
    <a class="btn-sidebar" routerLink="/transactions/transfers" routerLinkActive="active">
      <em class="nav-icon fas fa-exchange-alt"></em>
      <span class="text" appLocalization="page.nav.transfers"></span>
    </a>
  </div>

  <!-- automations section -->
  <div class="btn-sidebar nav-expandable"
       routerLinkActive="active"
       routerLink="/automation"
       [routerLinkActiveOptions]="{partial: true}">
    <em class="nav-icon fas fa-balance-scale"></em>
    <span class="text" appLocalization="page.nav.automation"></span>
    <em class="nav-expand fas fa-chevron-left"></em>
  </div>
  <div class="nav-expansion" routerLinkActive="expanded">
    <a class="btn-sidebar" routerLink="/automation/schedule/transactions" routerLinkActive="active">
      <em class="nav-icon fas fa-calendar-check"></em>
      <span class="text" appLocalization="page.nav.budget.recurring"></span>
    </a>
    <a class="btn-sidebar" routerLink="/automation/rules" routerLinkActive="active">
      <em class="nav-icon fas fa-random"></em>
      <span class="text" appLocalization="page.nav.settings.rules"></span>
    </a>
  </div>

  <div class="sidebar-divider">
    <span class="text" appLocalization="page.nav.settings"></span>
  </div>

  <!-- accounts section -->
  <div class="btn-sidebar nav-expandable"
       routerLink="/accounts"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{partial: true}">
    <em class="nav-icon fas fa-credit-card"></em>
    <span class="text" appLocalization="page.nav.accounts"></span>
    <em class="nav-expand fas fa-chevron-left"></em>
  </div>
  <div class="nav-expansion" routerLinkActive="expanded">
    <a class="btn-sidebar" routerLink="/accounts/own" routerLinkActive="active">
      <em class="nav-icon fas fa-wallet"></em>
      <span class="text" appLocalization="page.nav.accounts.accounts"></span>
    </a>
    <a class="btn-sidebar" routerLink="/accounts/expense" routerLinkActive="active">
      <em class="nav-icon fas fa-shopping-cart"></em>
      <span class="text" appLocalization="page.nav.accounts.creditor"></span>
    </a>
    <a class="btn-sidebar" routerLink="/accounts/revenue" routerLinkActive="active">
      <em class="nav-icon fas fa-coins"></em>
      <span class="text" appLocalization="page.nav.accounts.debtor"></span>
    </a>
    <a class="btn-sidebar" routerLink="/accounts/liability" routerLinkActive="active">
      <em class="nav-icon fas fa-hand-holding-usd"></em>
      <span class="text" appLocalization="page.nav.accounts.liability"></span>
    </a>
  </div>

  <!-- settings section -->
  <div class="btn-sidebar nav-expandable" *ngIf="isAdmin"
       routerLink="/settings"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{partial: true}">
    <em class="nav-icon fas fa-sliders-h"></em>
    <span class="text" appLocalization="page.nav.settings.options"></span>
    <em class="nav-expand fas fa-chevron-left"></em>
  </div>
  <div class="nav-expansion" routerLinkActive="expanded">
    <a class="btn-sidebar"
       routerLink="/settings"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}">
      <em class="nav-icon fas fa-cog"></em>
      <span class="text" appLocalization="page.header.application.settings"></span>
    </a>
    <a class="btn-sidebar" routerLink="/settings/currencies" routerLinkActive="active">
      <em class="nav-icon fas fa-dollar-sign"></em>
      <span class="text" appLocalization="page.nav.settings.currencies"></span>
    </a>
  </div>

  <a class="btn-sidebar" routerLinkActive="active" routerLink="/categories">
    <em class="nav-icon fas fa-chart-bar"></em>
    <span class="text" appLocalization="page.nav.settings.categories"></span>
  </a>

  <a class="btn-sidebar" routerLinkActive="active" routerLink="/import">
    <em class="nav-icon fas fa-file-import"></em>
    <span class="text" appLocalization="page.nav.settings.import"></span>
  </a>

  <footer>
    <a routerLink="/user/profile">
      <img appProfilePicture />
    </a>
    <span class="text"></span>
    <a href="javascript:void 0"
       appLocalization="page.header.user.logout"
       location="title"
       (click)="authorizationService.logout()"
       class="logout">
      <em class="fas fa-sign-out-alt"></em>
    </a>
  </footer>
</div>
<div class="sidebar d-print-none d-none" *ngIf="authorizationService.authorized && !authorizationService.token.requiresMFA">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-title d-sm-none" appLocalization="page.nav.profile"></li>
      <li class="nav-item d-sm-none">
        <a routerLink="/user/profile" class="nav-link" (click)="service.navigate()"><i class="nav-icon fas fa-user-secret"></i><span appLocalization="page.header.user.details"></span></a>
      </li>
      <li class="nav-item d-sm-none" routerLinkActive="active">
        <a href="javascript:void 0" (click)="authorizationService.logout()" class="nav-link"><i class="nav-icon fas fa-sign-out-alt"></i><span appLocalization="page.header.user.logout"></span></a>
      </li>
    </ul>
  </nav>
</div>
