<div class="card">
  <div class="card-header">
    <span appLocalization="page.account.accounts.add"></span>
  </div>
  <div class="card-body">
    <app-error-message></app-error-message>
    <app-spinner *ngIf="!model"></app-spinner>

    <form #account="ngForm" name="account" autocomplete="off">
      <fieldset *ngIf="model">
        <app-file-upload
          *ngIf="accountId"
          [file-code]="iconFileCode"
          upload-text="page.accounts.accounts.changeIcon"
          (uploadEvent)="iconUpload($event.fileCode)"
          max-files="1"
          class="app-file-upload"
          file-filter="image/*"></app-file-upload>

        <legend appLocalization="page.account.accounts.general"></legend>
        <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label">
            <span appLocalization="Account.name"></span>
            <app-information text-key="Account.name.help"></app-information>
          </label>
          <div class="col-sm-8">
            <app-input-field control="Account">
              <input type="text" class="form-control" name="name" id="name" required
                     appLocalization="Account.name"
                     location="placeholder"
                     [(ngModel)]="model.name"
                     auto-focus/>
            </app-input-field>
          </div>
        </div>

        <div class="form-group row">
          <label for="currency" class="col-sm-2 col-form-label" appLocalization="Account.currency"></label>
          <div class="col-sm-8">
            <app-input-field control="Account">
              <app-currency-selector [(value)]="model.currency" [class]="'form-select w-50'"></app-currency-selector>
            </app-input-field>
          </div>
        </div>

        <div class="form-group row" *ngIf="!model.isCreditor() && !model.isDebtor()">
          <label for="type" class="col-sm-2 col-form-label" appLocalization="Account.type"></label>
          <div class="col-sm-8">
            <select id="type" name="type" class="form-select w-75" [(ngModel)]="model.type" required>
              <option *ngFor="let type of accountTypes" [value]="type" [appLocalization]="'AccountType.' + type"></option>
            </select>
          </div>
        </div>

      </fieldset>

      <fieldset *ngIf="model">
        <legend appLocalization="page.account.accounts.accountdetails">Account details</legend>
        <div class="form-group row">
          <label for="iban" class="col-sm-2 col-form-label">
            <span appLocalization="Account.iban"></span>
            <app-information text-key="Account.iban.help"></app-information>
          </label>
          <div class="col-sm-8">
            <app-input-field control="Account">
              <input type="text" class="form-control" id="iban" name="iban"
                     pattern="^([A-Z]{2}[ \-]?[0-9]{2})(?=(?:[ \-]?[A-Z0-9]){9,30}$)((?:[ \-]?[A-Z0-9]{3,5}){2,7})([ \-]?[A-Z0-9]{1,3})?$"
                     appLocalization="Account.iban"
                     location="placeholder"
                     appPatternValidator
                     [(ngModel)]="model.iban">
            </app-input-field>
          </div>
        </div>

        <div class="form-group row">
          <label for="bic" class="col-sm-2 col-form-label">
            <span appLocalization="Account.bic"></span>
            <app-information text-key="Account.bic.help"></app-information>
          </label>
          <div class="col-sm-8">
            <app-input-field control="Account">
              <input type="text" class="form-control w-50" id="bic" name="bic"
                     pattern="^([a-zA-Z]{4}[a-zA-Z]{2}[a-zA-Z0-9]{2}([a-zA-Z0-9]{3})?)$"
                     appLocalization="Account.bic"
                     location="placeholder"
                     appPatternValidator
                     [(ngModel)]="model.bic">
            </app-input-field>
          </div>
        </div>

        <div class="form-group row">
          <label for="number" class="col-sm-2 col-form-label" appLocalization="Account.number"></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="number" name="number"
                   appLocalization="Account.number"
                   location="placeholder"
                   [(ngModel)]="model.number">
          </div>
        </div>

        <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label" appLocalization="Account.description"></label>
          <div class="col-sm-10">
              <textarea class="form-control" id="description" name="description"
                        appLocalization="Account.description"
                        location="placeholder"
                        [(ngModel)]="model.description"
                        rows="5">
              </textarea>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="card-footer">
    <button (click)="persist()" class="btn btn-sm btn-primary" [disabled]="account.invalid">
      <i class="far fa-dot-circle"></i>
      <span appLocalization="common.action.save"></span>
    </button>
    <app-back-button></app-back-button>
  </div>
</div>
