<div class="row d-none d-md-flex" *ngIf="dateRange && filter.show">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body pie-chart">
        <div>
          <div>
            <div appLocalization="page.transactions.expense.category" class="text-center pb-1 h5"></div>
            <app-chart
              height="250px"
              type="pie"
              [options]="categoryExpenseGraphOptions"
              [delayed-sets]="categoryExpenseGraphData"></app-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body pie-chart">
        <div>
          <div>
            <div appLocalization="page.transactions.expense.budget" class="text-center pb-1 h5"></div>
            <app-chart
              height="250px"
              type="pie"
              [options]="budgetExpenseGraphOptions"
              [delayed-sets]="budgetExpenseGraphData"></app-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body pie-chart">
        <div>
          <div>
            <div appLocalization="page.transactions.income.category" class="text-center pb-1 h5"></div>
            <app-chart
              height="250px"
              type="pie"
              [options]="categoryIncomeGraphOptions"
              [delayed-sets]="categoryIncomeGraphData"></app-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card print-break-before">
  <div class="card-header">
    <span appLocalization="page.title.transactions.overview"></span>

    <div ngbDropdown class="d-inline">
      <button class="btn btn-sm btn-primary float-end d-print-none" role="button" id="dropdownNew" ngbDropdownToggle>
        <span appLocalization="page.transaction.add" class="d-none d-md-inline"></span>
      </button>

      <div ngbDropdownMenu aria-labelledby="dropdownNew">
        <button ngbDropdownItem class="text-success" (click)="openCreateTransaction('debit')">
          <em class="fa fa-long-arrow-alt-right mr-2"></em>
          <span appLocalization="page.transactions.debit.add"></span>
        </button>
        <button ngbDropdownItem class="text-danger" (click)="openCreateTransaction('credit')">
          <em class="fa fa-long-arrow-alt-left mr-2"></em>
          <span appLocalization="page.transactions.credit.add"></span>
        </button>
        <button ngbDropdownItem class="text-info" (click)="openCreateTransaction('transfer')">
          <em class="fa fa-exchange-alt mr-2"></em>
          <span appLocalization="page.transactions.transfer.add"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">

    <form autocomplete="off" class="filters" *ngIf="filter.show">
      <fieldset ngForm>
        <legend class="pl-2" appLocalization="page.transactions.filter">Filter</legend>
        <div class="row">
          <div class="col">
              <label for="account" appLocalization="page.transactions.filter.account"></label>
              <input type="text" name="account" id="account" class="form-control" [(ngModel)]="filter.account" (change)="pagerUpdated(1) || pageChanged()">
          </div>
          <div class="col">
            <label for="description" appLocalization="page.transaction.filter.description"></label>
            <input type="text" name="description" id="description" class="form-control" [(ngModel)]="filter.description" (change)="pagerUpdated(1) || pageChanged()">
          </div>
          <div class="col">
            <label for="currency" appLocalization="page.transaction.filter.currency"></label>
            <app-currency-selector [(value)]="filter.currency" (valueChange)="pageChanged()" optional="true"></app-currency-selector>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="category" appLocalization="page.transactions.filter.category"></label>
            <app-autocomplete name="category"
                              [(model)]="filter.category" [type]="EntityType.CATEGORY" (change)="pagerUpdated(1) || pageChanged()"></app-autocomplete>
          </div>
          <div class="col">
            <label for="budget" appLocalization="page.transactions.filter.budget"></label>
            <app-autocomplete name="budget"
                              [(model)]="filter.budget" [type]="EntityType.BUDGET" (change)="pagerUpdated(1) || pageChanged()"></app-autocomplete>
          </div>
          <div class="col invisible">
            <label for="tag" appLocalization="page.transactions.filter.tag"></label>
            <input type="text" name="tag" id="tag">
          </div>
        </div>
        <div class="form-check form-switch mr-4">
          <input type="checkbox" class="form-check-input" id="expensesOnly" name="expensesOnly"
                 [(ngModel)]="filter.onlyExpense"
                 (change)="checkboxChange('onlyExpense'); pageChanged()">
          <label class="form-check-label" for="expensesOnly" appLocalization="page.transaction.filter.expense"></label>
        </div>
        <div class="form-check form-switch">
          <input type="checkbox" class="form-check-input" id="incomeOnly" name="incomeOnly"
                 [(ngModel)]="filter.onlyIncome"
                 (change)="checkboxChange('onlyIncome'); pageChanged()">
          <label class="form-check-label" for="incomeOnly" appLocalization="page.transaction.filter.income"></label>
        </div>
      </fieldset>
    </form>

    <app-transaction-overview *ngIf="!loading"
                              [transactions]="transactionPage.content"
                              (viewChanged)="pageChanged()"></app-transaction-overview>
    <app-spinner [show]="loading"></app-spinner>

    <ngb-pagination
      size="sm"
      class="d-flex justify-content-center"
      *ngIf="!loading && transactionPage.content.length > 0"
      [page]="pager.page"
      [pageSize]="transactionPage.info.pageSize"
      [collectionSize]="transactionPage.info.records"
      [maxSize]="10" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
      (pageChange)="pagerUpdated($event)"></ngb-pagination>
  </div>
</div>
