@import "../../shared/overview-table";

.filters::ng-deep {
  margin: 0 auto;
  max-width: 90em;

  fieldset {
    padding: .8em;
    border: 1px #6c757d3d solid;

    legend {
      margin-bottom: 0;
    }

    legend + .form-row {
      margin-top: -15px;
    }
  }

  .row {
    min-height: 1.55rem;
  }

  label:not(.form-check-label) {
    display: inline-flex;
    margin-right: 2px;
    font-weight: bold;

    &:after {
      content: ': ';
    }
  }

  input[type=text] {
    display: inline-flex;
    border: 0;
    width: 75%;
    padding: 0;
    height: auto;
    border-radius: 0;

    &:focus {
      outline: none !important;
      border-bottom: 1px #6c757d3d solid;
      box-shadow: none !important;
    }

    &:hover {
      border-bottom: 1px #6c757d3d solid;
    }
  }

  select {
    display: inline-flex;
    border: 0;
    width: 75%;

    &:focus {
      outline: none !important;
    }

    &:hover {
      border-bottom: 1px #6c757d3d solid;
    }
  }
}
