<table class="table table-hover table-responsive-sm table-sm mt-4" >
  <thead>
  <tr>
    <th class="d-print-none"></th>
    <th appLocalization="TransactionRule.name"></th>
    <th appLocalization="TransactionRule.conditions" class="d-none d-md-table-cell"></th>
    <th appLocalization="TransactionRule.changes" class="d-none d-md-table-cell"></th>
    <th appLocalization="TransactionRule.restrictive" class="d-none d-md-table-cell"></th>
    <th appLocalization="TransactionRule.active"></th>
    <th class="d-print-none"></th>
  </tr>
  </thead>
  <tbody *ngIf="!rules">
    <tr>
      <td colspan="7"><app-spinner show="true"></app-spinner></td>
    </tr>
  </tbody>
  <tbody *ngIf="!rules.length">
    <tr>
      <td colspan="7" appLocalization="common.overview.noresults"></td>
    </tr>
  </tbody>
  <tbody *ngIf="rules && rules.length">
  <tr *ngFor="let rule of rules">
    <td class="d-print-none">
      <a [routerLink]="'/automation/rules/' + group + '/' + rule.id + '/edit/'"
         class="text-primary"
         appLocalization="common.action.edit" location="title"><i class="fas fa-edit"></i></a>
      <a appLocalization="common.action.delete" location="title"
         href="javascript: void 0"
         (click)="deleteRule(rule)"
         class="text-danger">
        <i class="fas fa-trash-alt"></i></a>
    </td>
    <td>{{ rule.name }}</td>
    <td class="d-none d-md-table-cell">
      <div *ngFor="let condition of rule.conditions" class="condition">
        <span [appLocalization]="'TransactionRule.Column.' + condition.field"></span>
        <span [appLocalization]="'TransactionRule.Operation.' + condition.operation"></span>
        <span>{{ condition.condition }}</span>
      </div>
    </td>
    <td class="d-none d-md-table-cell">
      <div *ngFor="let change of rule.changes" class="condition">
        <span appLocalization="TransactionRule.Change" class="text-muted"></span>
        <span [appLocalization]="'TransactionRule.Column.' + change.field" class="text-info"></span>
        <span appLocalization="TransactionRule.To" class="text-muted"></span>
        <span [lookup]="change.field" [entityId]="change.change" class="text-success"></span>
      </div>
    </td>
    <td class="text-center d-none d-md-table-cell">
      <i class="fas" [class.fa-check]="rule.restrictive" [class.fa-times]="!rule.restrictive"></i>
    </td>
    <td class="text-center">
      <i class="fas" [class.fa-check]="rule.active" [class.fa-times]="!rule.active"></i>
    </td>
    <td class="d-print-none">
      <button class="btn btn-sm float-end btn-outline-success order-down" role="button"
              (click)="down(rule)"
              appLocalization="common.action.down" location="title">
        <i class="fas fa-arrow-down mr-0"></i>
      </button>
      <button class="btn btn-sm float-end btn-outline-success order-up" role="button"
              (click)="up(rule)"
              appLocalization="common.action.up" location="title">
        <i class="fas fa-arrow-up mr-0"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
