@import "../../shared/overview-table";

table {
  thead {
    th {
      &:first-child {
        width: 50px;
      }

      &:last-child {
        width: 90px;
      }
    }
  }

  tbody {
    tr {
      .order-up {
        margin-right: 5px;
      }

      &:first-child {
        .order-up {
          display: none;
        }
      }

      &:last-child {
        .order-down {
          display: none;
        }
        .order-up {
          margin-right: 0px;
        }
      }
    }
  }
}

.condition {
  span {
    margin-right: .2em;
  }
}
