@use "sass:math";

.current-status {
  display: flex;
  flex-direction: row;
  margin: 25px 0;

  $status-height: 80px;

  ::ng-deep app-statistical-balance span {
    color: black;
  }

  & > div {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: $status-height;
    max-width: 255px;
    align-items: center;
    margin-right: 15px;

    &.bg-primary {
      background: #e24241 !important;
    }

    & > * {
      flex: 1;
      height: 100%;

      &.fa {
        text-align: center;
        max-width: 80px;
        font-size: 26px;
        background: rgba(0,0,0,0.2);

        &:before {
          display: block;
          margin-top: calc(50% - 16px);
        }
      }

      &.details {
        padding: 1rem;
        & > h5 {
          margin: 0;
        }

        .text-danger, .text-green, app-statistical-balance {
          color: #fff;
        }
      }
    }
  }
}

.sum-card {
  .no-gutters {
    .col-md-4 {
      font-size: 45px;
      text-align: center;
      background: rgba(0,0,0,0.2);

      .fa {
        line-height: 80px;
      }
    }

    .card-body {
      padding: 1rem;

      h5 {
        margin-bottom: 0.2rem
      }

      .card-text ::ng-deep {
        color: #FFF !important;

        .text-danger{
          color: #FFF !important;
        }
      }
    }
  }
}
