<div class="current-status">
  <div class="bg-success">
    <em class="fa fa-balance-scale"></em>
    <div class="details">
      <h5 class="card-title" appLocalization="page.dashboard.balance"></h5>
      <app-statistical-balance
        [range]="range"></app-statistical-balance>
    </div>
  </div>
  <div class="bg-primary">
    <em class="fa fa-tasks"></em>
    <div class="details">
      <h5 class="card-title" appLocalization="page.dashboard.budget"></h5>
      <p [appBalance]="budget"></p>
    </div>
  </div>
  <div class="bg-info">
    <em class="fa fa-chart-line"></em>
    <div class="details">
      <h5 class="card-title" appLocalization="page.dashboard.netWorth"></h5>
      <app-statistical-balance class="card-text text-center"></app-statistical-balance>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header" appLocalization="page.dashboard.accounts.balance"></div>
  <div class="card-body">
    <app-chart
      height="50"
      [options]="balanceGraphOptions"
      [delayed-sets]="balanceGraphData"
      type="line"></app-chart>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header" appLocalization="page.dashboard.budgets.balance"></div>
      <div class="card-body">
        <app-chart
          height="125"
          type="bar"
          [delayed-sets]="expensesGraphData"
          [options]="expensesGraphOptions"></app-chart>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header" appLocalization="page.dashboard.categories.balance"></div>
      <div class="card-body">
        <app-chart
          height="125"
          type="bar"
          [delayed-sets]="categoryGraphData"
          [options]="categoryGraphOptions"></app-chart>
      </div>
    </div>

  </div>
</div>
