@import "../../shared/constants";
@import "../../shared/overview-table";

.profile {
  display: flex;
  flex-direction: row;

  & > * {
    flex: 1;
  }

  nav {
    max-width: 250px;

    strong, a {
      display: block;
    }

    strong {
      &:first-child {
        margin: 0;
      }

      margin-top: 2ch;
    }

    a {
      margin-top: 0.2ch;
      margin-left: 1.2ch;
    }
  }
}
