<div class="card">
  <div class="card-header">
    <span appLocalization="page.title.user.profile"></span>
  </div>
  <div class="card-body profile" *ngIf="profile">
    <nav>
      <strong appLocalization="page.title.user.profile"></strong>
      <a routerLink="/user/profile/theme" appLocalization="page.user.profile.theme"></a>
      <a routerLink="/user/profile/currency" appLocalization="page.user.profile.currency"></a>

      <strong>Security</strong>
      <a routerLink="/user/profile/security/two-factor-authentication" appLocalization="page.user.profile.twofactor"></a>
      <a routerLink="/user/profile/security/sessions" appLocalization="page.title.user.session.active"></a>
      <a routerLink="/user/profile/security/change-password" appLocalization="page.header.user.password"></a>

      <strong>Import / Export</strong>
      <a routerLink="/user/profile/data/import" appLocalization="page.user.profile.import"></a>
      <a routerLink="/user/profile/data/export" appLocalization="page.user.profile.export"></a>
      <a routerLink="/user/profile/data/transactions" appLocalization="page.user.profile.transactions"></a>
    </nav>

    <section>
      <router-outlet></router-outlet>
    </section>
    <!-- Sessions section -->
    <section *ngIf="activeSection == 'sessions'">

    </section>
  </div>
</div>
