<app-spinner [show]="!model || processing"></app-spinner>

<div class="card" *ngIf="model && !processing">
  <div class="card-header">
    <span appLocalization="page.nav.settings.rules.edit"></span>
  </div>

  <div class="card-body">
    <div class="alert alert-light" appLocalization="page.settings.rules.help"></div>

    <form name="ruleForm" #ruleForm="ngForm">
      <fieldset>
        <legend appLocalization="page.settings.rules.generic"></legend>

        <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label" appLocalization="TransactionRule.name"></label>
          <div class="col-sm-10">
            <app-input-field control="TransactionRule">
              <input type="text" class="form-control" id="name" name="name" required
                     appLocalization="TransactionRule.name" location="placeholder"
                     [(ngModel)]="model.name">
            </app-input-field>
          </div>
        </div>

        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="restrictive" name="restrictive" [(ngModel)]="model.restrictive">
          <label class="form-check-label" for="restrictive" appLocalization="TransactionRule.restrictive.explain"></label>
        </div>

        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="active" name="active" [(ngModel)]="model.active">
          <label class="form-check-label" for="active" appLocalization="TransactionRule.active.explain"></label>
        </div>
      </fieldset>

      <fieldset>
        <legend appLocalization="page.settings.rules.optional"></legend>
        <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label" appLocalization="TransactionRule.description"></label>
          <div class="col-sm-10">
            <app-input-field control="TransactionRule">
              <textarea class="form-control" id="description" name="description"
                        appLocalization="TransactionRule.description" location="placeholder"
                        [(ngModel)]="model.description" rows="5">
              </textarea>
            </app-input-field>
          </div>
        </div>
      </fieldset>

      <hr />

      <fieldset>
        <legend appLocalization="TransactionRule.conditions"></legend>

        <div class="row my-3" *ngFor="let condition of model.conditions; let counter = index">
          <div class="col-sm-5">
            <select class="form-control" [(ngModel)]="condition.matcher" [name]="'condition-field-'+ counter" [compareWith]="compareSelectCondition" required>
              <option *ngFor="let option of matchers"
                      [ngValue]="option"
                      [appLocalization]="'TransactionRule.Condition.' + option.appKey"></option>
            </select>
          </div>
          <div class="col-sm-6">
            <app-input-field control="TransactionRule">
              <input type="text" class="form-control" [(ngModel)]="condition.condition" [name]="'condition-value-'+ counter" required/>
            </app-input-field>
          </div>
          <div class="col-sm-1">
            <a href="javascript: void 0" (click)="removeCondition(condition, counter)" class="btn btn-link text-danger"><i class="fas fa-trash"></i></a>
          </div>
        </div>

        <button class="btn btn-sm bg-info bg-opacity-50" type="button" (click)="addCondition()">
          <em class="fas fa-plus-circle"></em>
          <span appLocalization="page.settings.rules.condition.add"></span>
        </button>
      </fieldset>

      <hr />

      <fieldset>
        <legend appLocalization="TransactionRule.changes"></legend>

        <div class="row my-3" *ngFor="let change of model.changes; let counter = index">
          <div class="col-sm-5">
            <select class="form-control" [(ngModel)]="change.field" [name]="'change-field-' + counter" required (change)="change.clearValue()">
              <option appLocalization="TransactionRule.Column.SOURCE_ACCOUNT" value="SOURCE_ACCOUNT"></option>
              <option appLocalization="TransactionRule.Column.TO_ACCOUNT" value="TO_ACCOUNT"></option>
              <option appLocalization="TransactionRule.Column.CATEGORY" value="CATEGORY"></option>
              <option appLocalization="TransactionRule.Column.CHANGE_TRANSFER_TO" value="CHANGE_TRANSFER_TO"></option>
              <option appLocalization="TransactionRule.Column.CHANGE_TRANSFER_FROM" value="CHANGE_TRANSFER_FROM"></option>
              <option appLocalization="TransactionRule.Column.BUDGET" value="BUDGET"></option>
              <option appLocalization="TransactionRule.Column.CONTRACT" value="CONTRACT"></option>
              <option appLocalization="TransactionRule.Column.TAGS" value="TAGS"></option>
            </select>
          </div>
          <div class="col-sm-6">
            <app-input-field control="TransactionRule.Change">
              <app-autocomplete [name]="'change-value-' + counter" [type]="toEntity(change)" [(model)]="change.change"></app-autocomplete>
            </app-input-field>
          </div>
          <div class="col-sm-1">
            <a href="javascript:void 0" (click)="removeChange(change, counter)" class="btn btn-link text-danger"><i class="fas fa-trash"></i></a>
          </div>
        </div>

        <button class="btn btn-sm bg-info bg-opacity-50" type="button" (click)="addChange()">
          <em class="fas fa-plus-circle"></em>
          <span appLocalization="page.settings.rules.change.add"></span>
        </button>
      </fieldset>
    </form>
  </div>

  <div class="card-footer">
    <button type="button" class="btn btn-sm btn-primary" [disabled]="ruleForm.invalid" (click)="save()">
      <i class="far fa-dot-circle"></i>
      <span appLocalization="common.action.save"></span>
    </button>
    <app-back-button></app-back-button>
  </div>
</div>
