<div class="card">
  <form autocomplete="off" #category="ngForm">
    <div class="card-header">
      <span appLocalization="page.settings.categories.add">Add account</span>
    </div>
    <div class="card-body">
      <div class="alert alert-light" appLocalization="page.settings.category.help"></div>
      <div *ngIf="errorMessage" class="alert-danger p-3 rounded">{{ errorMessage }}</div>

      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label" appLocalization="Category.label"></label>
        <div class="col-sm-10">
          <app-input-field control="Category">
            <input type="text" class="form-control" id="name" name="name"
                   appLocalization="Category.label"
                   location="placeholder"
                   [(ngModel)]="model.name"
                   auto-focus
                   required>
          </app-input-field>
        </div>
      </div>
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label" appLocalization="Category.description"></label>
        <div class="col-sm-10">
          <app-input-field control="Category">
            <textarea class="form-control" id="description" name="description"
                      appLocalization="Category.description"
                      location="placeholder"
                      [(ngModel)]="model.description"
                      rows="5">
            </textarea>
          </app-input-field>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm btn-primary" (click)="persist()" [disabled]="category.invalid">
        <i class="far fa-dot-circle"></i>
        <span appLocalization="common.action.save"></span>
      </button>
      <app-back-button></app-back-button>
    </div>
  </form>
</div>
