
.drop-area {
  cursor: default;

  .drop-zone {
    border: 1px dashed var(--app-border-color);
    background-color: #f8f9fa75;

    & > * {
      pointer-events: none;
    }

    img {
      margin-right: 15px;
    }

    strong {
      line-height: 75px;
    }
  }

  button.btn.btn-sm.btn-outline-primary {
    margin-top: 10px;
    .fas {
      margin-right: 5px;
    }
  }
}

