<div (dragover)="fileOver($event)"
     (dragleave)="fileOut($event)"
     (drop)="fileDropped($event)"
     class="text-center drop-area">
  <input type="file"
         class="d-none"
         (change)="fileSelected($event)"
         #fileUpload
         [accept]="fileFilter"
         [multiple]="maxFiles > 1">
  <span *ngIf="isImageType()">
    <img *ngIf="!fileCode" src="assets/no-image.png" class="img-fluid" />
    <img *ngIf="fileCode" [appImage]="fileCode" class="img-fluid" />

    <button class="btn btn-sm btn-link text-decoration-none" (click)="fileUpload.click()">
      <img src="assets/ic-upload-file.svg" class="img-fluid align-bottom" width="20"/>
      <span [appLocalization]="uploadText" class="ml-1"></span>
    </button>
  </span>

  <div *ngIf="!isImageType()">
    <div class="drop-zone">
      <img src="assets/ic-upload-file.svg" class="img-fluid align-middle" width="35"/>
      <strong [appLocalization]="helpText"></strong>

      <div *ngIf="uploads.length">
        <div *ngFor="let upload of uploads"
             class="uploaded"
             [class.text-success]="upload.fileCode">
          <i class="fas mr-2"
             [class.fa-circle-notch]="!upload.fileCode"
             [class.fa-spin]="!upload.fileCode"
             [class.fa-check]="upload.fileCode"></i>
          <span>{{ upload.name }}</span>
        </div>
      </div>
    </div>
    <button class="btn btn-sm btn-outline-primary"
            auto-focus
            [disabled]="uploads.length >= maxFiles"
            (click)="fileUpload.click()">
      <i class="fas fa-cloud-upload-alt"></i>
      <span [appLocalization]="uploadText" class="ml-1"></span>
    </button>
  </div>
</div>
