<div class="modal-header">
  <h4 class="modal-title" id="modal-title" appLocalization="page.settings.import.config"></h4>
  <button type="button" class="btn-close" aria-describedby="modal-title" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body" *ngIf="!processing">
  <app-error-message></app-error-message>
  <div class="alert alert-light" appLocalization="page.settings.import.config.explain">
    info text
  </div>

  <app-file-upload
    file-filter="application/json"
    upload-text="page.settings.import.config"
    (uploadEvent)="process($event)"></app-file-upload>
</div>
<div class="modal-body" *ngIf="processing">
  <app-spinner></app-spinner>
</div>
