
<div *ngIf="!loaded">
  <app-spinner></app-spinner>
</div>

<div class="card" *ngIf="activeBudget">
  <div class="card-body" *ngIf="activeBudget">
    <div class="row">
      <div class="col-sm-3 col-lg-2 font-weight-bold" appLocalization="page.budget.group.budget.period"></div>
      <div class="col-sm-6">
        <span [appLocalization]="'common.month.' + month"></span> {{ year }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-lg-2 font-weight-bold" appLocalization="Budget.expectedIncome"></div>
      <div class="col-sm-6" [appBalance]="activeBudget.income"></div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-lg-2 font-weight-bold" appLocalization="page.budget.group.expectedExpenses"></div>
      <div class="col-sm-6" [appBalance]="0 - activeBudget.totalExpenses"></div>
    </div>

    <table class="table table-hover table-responsive-sm table-sm mt-4">
      <thead>
      <tr class="rotated">
        <th></th>
        <th><div><span appLocalization="Budget.Expense.name"></span></div></th>
        <th><div><span appLocalization="page.budget.group.expense.budgeted"></span></div></th>
        <th><div><span appLocalization="page.budget.group.expense.spent"></span></div></th>
        <th><div><span appLocalization="page.budget.group.expense.left"></span></div></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let expense of activeBudget.expenses">
        <td></td>
        <td>
          <a href="javascript:void 0"
             (click)="loadTransactions(expense)"
             data-toggle="tooltip"
             appLocalization="page.budget.group.action.listTransactions"
             location="title">{{ expense.name }}</a>
        </td>
        <td [appBalance]="expense.expected"></td>
        <td *ngIf="cachedComputes[expense.id]">
          <span [appBalance]="cachedComputes[expense.id].spent"></span>
          (<span [appBalance]="cachedComputes[expense.id].dailySpent"></span>)
        </td>
        <td *ngIf="cachedComputes[expense.id]">
          <span [appBalance]="cachedComputes[expense.id].left"></span>
          (<span [appBalance]="cachedComputes[expense.id].dailyLeft"></span>)
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer d-print-none">
    <button type="button" class="btn btn-sm btn-success" (click)="createExpense()">
      <i class="far fa-plus-square"></i>
      <span appLocalization="page.budget.group.action.addExpense"></span>
    </button>
    <button type="button" class="btn btn-sm btn-primary" *ngIf="!activeBudget.period.until">
      <i class="far fa-plus-square"></i>
      <span appLocalization="page.budget.group.action.index"></span>
    </button>
  </div>
</div>

<div class="card" *ngIf="loaded && !activeBudget">
  <div class="card-body">
    <div class="alert alert-light" appLocalization="page.budget.group.explained"></div>

    <app-error-message></app-error-message>

    <form novalidate autocomplete="off" id="initialBudgetForm" #createForm="ngForm">
      <div class="form-group row">
        <label for="startMonth" class="col-sm-3 col-form-label" appLocalization="page.budget.group.start">Description</label>
        <div class="col-sm-9">
          <select id="startMonth" class="form-control col-sm-4 col-md-3 d-inline-block"
                  name="startMonth"
                  [(ngModel)]="createModel.month">
            <option *ngFor="let month of months"
                    [value]="month"
                    [appLocalization]="'common.month.' + month"></option>
          </select>
          <app-input-field control="Budget.CreateModel">
            <input type="number" class="text-center form-control col-sm-4 col-md-2 d-inline-block"
                   id="startYear"
                   name="startYear"
                   placeholder="yyyy"
                   pattern="[0-9]{4}"
                   required
                   [(ngModel)]="createModel.year">
          </app-input-field>
        </div>
      </div>
      <div class="form-group row">
        <label for="expectedIncome" class="col-sm-3 col-form-label" appLocalization="Budget.expectedIncome">Description</label>
        <div class="col-sm-9 input-group">
          <div class="input-group-prepend">
            <app-currency-selector [value]="'EUR'" readonly></app-currency-selector>
          </div>
          <input type="number" class="form-control col-sm-3 col-md-2"
                 id="expectedIncome" name="expectedIncome"
                 appMinValidator="1"
                 [(ngModel)]="createModel.expectedIncome" #expectedIncome="ngModel"
                 [class.is-invalid]="!expectedIncome.pristine && expectedIncome.invalid"
                 [class.is-valid]="!expectedIncome.pristine && expectedIncome.valid"
                 aria-describedby="currency"
                 step="500" required>
        </div>
      </div>

      <button type="button" appLocalization="page.budget.group.action.initial"
              (click)="createBudget()"
              [disabled]="createForm.invalid"
              class="btn btn-sm btn-primary"></button>
    </form>
  </div>
</div>
