@import "../../shared/constants";

table {
  tr:hover {
    td.col-action {
      & > .fas {
        display: inherit;
      }
    }
  }

  td, th {
    &.col-account-icon {
      width: 30px;
      text-align: center;
      vertical-align: middle;

      .account-image {
        max-width: 25px;
      }
    }

    &.col-account {
      width: 10em;
    }

    &.col-balance {
      width: 70px;
    }

    &.col-action {
      width: 20px;
      vertical-align: middle;
      color: #6c757d;

      & > .fas {
        cursor: pointer;
        display: none;

        &:after {
          display: none;
        }
      }
    }

    @include dropdown-action-menu();
  }
}

@media (max-device-width: $tabled-portrait-max-width) {

  table {
    td, th {
      &.col-account {
        display: none;
      }
    }
  }

}
