<div class="card">
  <div class="card-header">
    <span [appLocalization]="'page.nav.accounts.' + accountType">Creditors</span>
    <a class="btn btn-sm btn-primary float-end d-print-none"
       [routerLink]="'/accounts/' + frontEndType + '/add/'" role="button">
      <i class="fas fa-plus"></i>
      <span [appLocalization]="'page.account.' + accountType + '.add'" class="d-none d-md-inline">Add account</span>
    </a>
  </div>
  <div class="card-body">
    <table class="table table-hover table-responsive-sm table-sm mt-4">
      <thead>
      <tr>
        <th scope="col" class="col-account-icon">
          <a href="javascript: void 0" class="small"
             [class.text-success]="filterName.length > 0"
             (click)="filterVisible = !filterVisible"><em class="fa fa-filter"></em></a>
        </th>
        <th id="account-name" scope="col" appLocalization="Account.name"></th>
        <th appLocalization="Account.number" class="col-account">Account number</th>
        <th appLocalization="common.account.saldo" class="col-balance">Current value</th>
        <th></th>
      </tr>
      <tr *ngIf="filterVisible">
        <th id="account-filter" colspan="2">
          <input type="text" class="form-control form-control-sm" name="name" id="name"
                 autocomplete="off"
                 [(ngModel)]="filterName" (keyup)="filterChange();"/>
        </th>
        <th colspan="2"></th>
      </tr>
      </thead>
      <tbody *ngIf="!empty && !loading">
      <tr *ngFor="let account of currentPage.content"
          (mouseleave)="dropdown.close()">
        <td class="col-account-icon">
           <img [appImage]="account.iconFileCode" *ngIf="account.iconFileCode" class="account-image"/>
        </td>
        <td>
          <a [routerLink]="'./' + account.id + '/transactions'" class="text-primary text-decoration-none">{{ account.name }}</a>
          <div class="text-muted small" *ngIf="account.history.lastTransaction">
            <label appLocalization="Account.lastActivity"></label>
            {{ account.history.lastTransaction | customDate }}
          </div>
          <div class="text-muted small">{{ account.description }}</div>
        </td>
        <td class="col-account">
          <span *ngIf="account.account.iban">{{ account.account.iban }}</span>
          <span *ngIf="account.account.number && !account.account.iban">{{ account.account.number }}</span>
        </td>
        <td class="col-balance">
          <app-statistical-balance [account]="[account]" [currency]="account.account.currency"></app-statistical-balance>
        </td>
        <td class="col-action" ngbDropdown #dropdown="ngbDropdown">
          <em class="fas fa-ellipsis-v" ngbDropdownToggle [id]="'transaction-menu-' + account.id"></em>
          <div ngbDropdownMenu class="dropdown-menu-left">
            <a [routerLink]="account.id + '/edit/'"
               ngbDropdownItem
               class="text-primary"><em class="fas fa-edit"></em> <span appLocalization="common.action.edit"></span></a>
            <a href="javascript:void 0"
               ngbDropdownItem
               (click)="confirmDelete(account)"
               class="text-danger"><em class="fas fa-trash-alt"></em> <span appLocalization="common.action.delete"></span></a>
          </div>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="empty && !loading">
      <tr>
        <td colspan="5" appLocalization="common.overview.noresults"></td>
      </tr>
      </tbody>
      <tbody *ngIf="loading">
      <tr>
        <td colspan="5"><app-spinner></app-spinner></td>
      </tr>
      </tbody>
    </table>

    <ngb-pagination
      size="sm"
      class="d-flex justify-content-center"
      *ngIf="currentPage"
      [page]="pager.page"
      [pageSize]="currentPage.info.pageSize"
      [collectionSize]="currentPage.info.records"
      [maxSize]="10" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
      (pageChange)="pageChanged($event)"></ngb-pagination>
  </div>
</div>
