@import "../../shared/overview-table";

table {
  thead {
    th {
      &:first-child {
        width: 75px;
      }

      &:nth-child(2) {
        width: 100px;
      }

      &:nth-child(4) {
        width: 75px;
      }

      &:nth-child(5) {
        width: 120px;
      }
      &:nth-child(6) {
        width: 120px;
      }
    }
  }
}

.account-image {
  max-width: 25px;
}

.form-check.d-inline-flex {
  margin-right: 7px;
}
